<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="receipt-voucher"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Receipt Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formReceiptVoucherCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Cash Bank</ion-label>
          <ion-select placeholder="Pilih Cash Bank" formControlName="cashBankId" interface="action-sheet">
            <ion-select-option *ngFor="let bank of cashBankList" [value]="bank.id">
            {{ bank.cash_bank_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Receipt From</ion-label>
					<ion-input type="text" placeholder="Receipt From" formControlName="receiptFrom"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Currency</ion-label>
          <ion-select (ionChange)="getExchangeRate($event)" placeholder="Pilih Currency" formControlName="currency" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencyList" [value]="currency.id">
            {{ currency.foreign_currency_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Exchange Rate</ion-label>
					<ion-input readonly type="text" placeholder="Exchange Rate" formControlName="exchangeRate"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Amount</ion-label>
					<ion-input type="number" placeholder="0" formControlName="amount"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Receipt Proof No</ion-label>
					<ion-input type="text" placeholder="Receipt Proof No" formControlName="receiptProofNo"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Detail Baru</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Coa</ion-label>
              <ionic-selectable
                formControlName="coa"
                [items]="coaSearch"
                itemValueField="id"
                itemTextField="name"
                [canSearch]="true"
                (onSearch)="searchCoa($event)">
              </ionic-selectable>
            </ion-item>

            
            <ion-item lines="none">
              <ion-label position="stacked">Counter</ion-label>
              <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
                <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
                {{ counter.counter_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Amount</ion-label>
              <ion-input type="number" placeholder="0" formControlName="amount"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Description</ion-label>
              <ion-input type="text" placeholder="Description" formControlName="desc"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formReceiptVoucherCreate.valid" (click)="inputData()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>