<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="modal-kasir"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Modal Kasir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formModalKasirEdit">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate" placeholder="Pilih Tanggal Transaksi"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">User Kasir</ion-label>
          <ion-select placeholder="Pilih User Kasir" formControlName="userKasir" interface="action-sheet">
            <ion-select-option *ngFor="let rowUserKasir of userKasirList" [value]="rowUserKasir.id">
            {{ rowUserKasir.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nilai Modal</ion-label>
					<ion-input type="number" placeholder="Nilai Modal" formControlName="nilaiModal"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Keterangan</ion-label>
          <ion-textarea rows="4" placeholder="Keterangan" type="text" formControlName="keterangan"></ion-textarea>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" [disabled]="!formModalKasirEdit.valid" (click)="updateData()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
