<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="setor-kasir"></ion-back-button>
    </ion-buttons>
    <ion-title>Setor Kasir Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formSetorKasirEdit">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate" placeholder="Pilih Tanggal Transaksi" readonly></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">User Kasir</ion-label>
					<ion-input type="text" placeholder="NO Modal Kasir" formControlName="userKasir" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">No. Modal Kasir</ion-label>
					<ion-input type="number" placeholder="NO Modal Kasir" formControlName="noModalKasir" readonly></ion-input>
        </ion-item>
        
        <ion-item lines="none">
					<ion-label position="stacked">Nilai Modal</ion-label>
					<ion-input type="number" placeholder="Nilai Modal" formControlName="nilaiModal" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-grid style="width: 100%;">
            <ion-row>
              <ion-col  size="12" size-lg>
                <ion-label position="stacked">Tunai</ion-label>
                <ion-input type="number" placeholder="Tunai" formControlName="tunai" readonly></ion-input>
              </ion-col>
              <ion-col  size="12" size-lg>
                <ion-label position="stacked">Kembalian</ion-label>
                <ion-input type="number" placeholder="Kembalian" formControlName="kembalian"   readonly></ion-input>
              </ion-col>
              <ion-col  size="12" size-lg>
                <ion-label position="stacked">Nilai Tunai</ion-label>
                <ion-input type="number" placeholder="Nilai Tunai" formControlName="nilaiTunai"   readonly></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Kartu Kredit</ion-label>
					<ion-input type="number" placeholder="Kartu Kredit" formControlName="kKredit" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Kartu Debit</ion-label>
					<ion-input type="number" placeholder="Kartu Debit" formControlName="kDebit" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Voucher</ion-label>
					<ion-input type="number" placeholder="Voucher" formControlName="voucher" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked"><u>Nilai Setor</u></ion-label>
					<ion-input type="number" placeholder="Nilai Setor" formControlName="nilaiSetor" (keyup)="hitungSelisih()"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Selisih **((Nilai Modal + Nilai Tunai) - Nilai Setor)</ion-label> 
					<ion-input type="number" placeholder="Nilai Tunai - Nilai Setor" formControlName="selisih" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Keterangan</ion-label>
          <ion-textarea rows="4" placeholder="Keterangan" type="text" formControlName="keterangan"></ion-textarea>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" [disabled]="!formSetorKasirEdit.valid" (click)="updateData()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
