<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="purpose"></ion-back-button>
    </ion-buttons>
    <ion-title>Purpose Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPurposeCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">Nama Purpose</ion-label>
					<ion-input type="text" placeholder="Nama Purpose" formControlName="purposeName"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPurposeCreate.valid" (click)="inputPurpose()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
