<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="other-receiving"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Penerimaan Lain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formOtherReceivingEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">No Dokumen</ion-label>
					<ion-input type="text" placeholder="No Dokumen" formControlName="otherReceivingId" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select disabled="true" placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select [disabled]="statusOtherReceiving === '0' ? 'false' : 'true'" placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseData" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Purpose</ion-label>
          <ion-select [disabled]="statusOtherReceiving === '0' ? 'false' : 'true'" placeholder="Pilih Purpose" formControlName="purposeId" interface="action-sheet">
            <ion-select-option *ngFor="let purpose of purposeData" [value]="purpose.id">
            {{ purpose.purpose_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime [disabled]="statusOtherReceiving === '0' ? 'false' : 'true'" displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input [readonly]="statusOtherReceiving === '0' ? 'false' : 'true'" type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Status</ion-label>
					<ion-input readonly type="text" placeholder="Status" formControlName="status" readonly></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center" *ngIf="statusOtherReceiving !== '0'">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>

        <div class="ion-padding ion-text-center" *ngIf="statusOtherReceiving === '0'">					
          <ion-button size="large" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <table class="ion-padding">
          <thead>
            <tr class="background-table">
              <th style="padding: 6px 0 6px 0;">No</th>
              <th *ngIf="statusOtherReceiving === '0'">Action</th>
              <th>PCode</th>
              <th style="padding: 0 150px 0 150px;">Nama Barang</th>
              <th>Qty</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of otherReceivingDetailList; let i = index;">
              <td class="date-and-receipt">{{ i+1 }}</td>
              <td class="date-and-receipt" *ngIf="statusOtherReceiving === '0'">
                <ion-button shape="round" size="small" color="success" (click)="findProduct(i)">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button shape="round" size="small" color="danger" (click)="deleteProduct(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </td>
              <td class="normal-text">{{ detail.product_id }}</td>
              <td class="normal-text">{{ detail.product_name }}</td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyReceive_'+i" [value]="detail.qty_receive"></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="text" [id]="'description_'+i" placeholder="Deskripsi" [value]="detail.desc"></ion-input>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="ion-padding ion-text-center" *ngIf="statusOtherReceiving === '0'">
          <ion-button size="small" color="secondary"
          [disabled]="!formOtherReceivingEdit.valid" (click)="updateBundle('data')">
            <ion-icon name="save"></ion-icon>Save
          </ion-button>
          <ion-button *ngIf="statusOtherReceiving == 0"
           size="small" color="success" (click)="updateBundle('status')">
            <ion-icon name="checkmark-done-circle"></ion-icon>Close
          </ion-button>
        </div>
      </ion-list>
    </div>
  </form>
  <div class="approval-history">
    <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
    <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
    <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
    <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
  </div>
  <br>
  <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
    <div *ngFor="let approve of approvalHistoryData">
      <p><ion-icon name="remove"></ion-icon><b>Pemasukan Lain Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
    </div>
  </div>
</ion-content>