<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-request"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Permintaan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProductRequestDetail">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">Product Request No.</ion-label>
					<ion-input readonly type="text" placeholder="" formControlName="productRequestId"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime [readonly]="statusRequest === '0' ? 'false' : 'true'" displayFormat="DD MMM, YYYY" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Kebutuhan</ion-label>
          <ion-datetime [readonly]="statusRequest === '0' ? 'false' : 'true'" displayFormat="DD MMM, YYYY" formControlName="needDate" placeholder="Pilih Tanggal Kebutuhan"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select disabled="true" placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select disabled="true" placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input [readonly]="statusRequest === '0' ? 'false' : 'true'" type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Status</ion-label>
					<ion-input readonly type="text" placeholder="Status" formControlName="status" readonly></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center" *ngIf="statusRequest !== '0'">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>
        
        <div *ngIf="statusRequest === '0'" class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <table class="ion-padding">
          <thead>
            <tr class="background-table">
              <th style="padding: 6px 0 6px 0;">No</th>
              <th *ngIf="statusRequest === '0'">Action</th>
              <th>PCode</th>
              <th style="padding: 0 150px 0 150px;">Nama Barang</th>
              <th>Satuan</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of productRequestDetailList; let i = index;">
              <td class="date-and-receipt">{{ i+1 }}</td>
              <td class="date-and-receipt" *ngIf="statusRequest === '0'">
                <ion-button shape="round" size="small" color="success" (click)="findProduct(i)">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button shape="round" size="small" color="danger" (click)="deleteProduct(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </td>
              <td class="normal-text">{{ detail.product_id }}</td>
              <td class="normal-text">{{ detail.product_name }}</td>
              <td class="normal-text">Pcs</td>
              <td class="normal-text">
                <ion-input *ngIf="statusRequest === '0'" type="number" [id]="'qtyRequest_'+i" [value]="detail.qty_request"></ion-input>
                <ion-input *ngIf="statusRequest !== '0'" type="number" [id]="'qtyRequest_'+i" [value]="detail.qty_request" readonly></ion-input>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="ion-padding ion-text-center" *ngIf="statusRequest === '0' && roleAccess.update === '1'">
          <ion-button size="small" color="secondary" (click)="saveUpdate('data', '0')">
            <ion-icon name="save"></ion-icon>Save
          </ion-button>
          <ion-button *ngIf="roleName === 'TEAM_LEADER' && roleAccess.approve === '1'"
           size="small" color="success" (click)="saveUpdate('status', '4')">
            <ion-icon name="checkmark-done-circle"></ion-icon>Approve
          </ion-button>
          <ion-button size="small" color="danger" (click)="saveUpdate('status', '2')">
            <ion-icon name="close-circle"></ion-icon>Cancel
          </ion-button>
				</div>

        <div class="ion-padding ion-text-center" *ngIf="statusRequest === '4'">
          <ion-button *ngIf="roleName === 'GUDANG' && roleAccess.approve === '1'"
            size="small" color="success" (click)="saveUpdate('status', '5')">
            <ion-icon name="sync"></ion-icon>On Process
          </ion-button>
          <ion-button *ngIf="roleName === 'GUDANG' && roleAccess.delete === '1'"
           size="small" color="danger" (click)="saveUpdate('status', '3')">
            <ion-icon name="close-circle"></ion-icon>Reject
          </ion-button>
				</div>

        <div class="ion-padding ion-text-center" *ngIf="statusRequest === '5'">
          <ion-button *ngIf="roleName === 'GUDANG' && roleAccess.approve === '1'"
           size="small" color="success" (click)="saveUpdate('status', '6')">
            <ion-icon name="airplane"></ion-icon>Delivery
          </ion-button>
				</div>

        <div class="ion-padding ion-text-center" *ngIf="statusRequest === '1' || statusRequest === '2' || 
        statusRequest === '3' || statusRequest === '6'">
				</div>

        <div class="approval-history">
          <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
          <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
          <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
          <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
        </div>
        <br>
        <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
          <div *ngFor="let approve of approvalHistoryData">
            <p *ngIf="approve.status === '0'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Pending</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '1'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Done</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '2'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Canceled</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '3'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Rejected</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '4'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '5'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Processed</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '6'"><ion-icon name="remove"></ion-icon><b>Permintaan Barang Delivered</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
          </div>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>
