<ion-header>
  <ion-toolbar>
    <ion-title>Pilih Free Product</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
      <ion-col size="1">No</ion-col>
      <ion-col size="2">PCode</ion-col>
      <ion-col size="6">Nama</ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <div *ngIf="freeItemList.length > 0" class="large-2" id="item" style="font-size: 14px;">
      <ion-row *ngFor="let product of freeItemList; let i = index">
        <ion-col size="1">{{ i+1 }}</ion-col>
        <ion-col size="2">{{ product.product_id }}</ion-col>
        <ion-col size="6">{{ product.product_name }}</ion-col>
        <ion-col size="1">
          <ion-button size="small" color="secondary" (click)="chooseProduct(product)">
            Pilih
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>