<ion-header>
  <ion-toolbar>
    <ion-title>Laporan Penerimaan Barang Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    No Penerimaan Barang : {{ productReceivingId }} <br>
    No Permintaan Barang : {{ productRequestId }} <br>
    Counter : {{ counterName }} <br>
    Gudang : {{ warehouseName }} <br>
    Tgl Dokumen : {{ docDate }} <br>
    Courier : {{ courier }} <br>
    Deskripsi : {{ description }} <br>
    Status : {{ statusName }}
  </p>
  <table>
    <thead>
      <tr class="background-table">
        <th>PCode</th>
        <th>Nama</th>
        <th>Qty Permintaan</th>
        <th>Qty Penerimaan</th>
        <th>Qty Selisih</th>
      </tr>
    </thead>
    <tbody *ngIf="reportDataDetail.length > 0">
      <tr *ngFor="let detail of reportDataDetail">
        <td class="normal-text">{{ detail.product_id }}</td>
        <td class="normal-text">{{ detail.product_name }}</td>
        <td class="nominal">{{ detail.qty_request }}</td>
        <td class="nominal">{{ detail.qty_receiving }}</td>
        <td class="nominal">{{ detail.qty_diff }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="reportDataDetail.length === 0">
      <tr>
        <td class="normal-text">Data Kosong</td>
      </tr>
    </tbody>
  </table>
</ion-content>