.radio-button-label {
    color: var(--text-black) !important;
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 0;
    font-weight: 700;
    margin-bottom: 12px;
    max-width: 100% !important;
    width: 100% !important;
    display: block;
    flex: unset;
    transform: unset !important;
    padding-left: 5px;
}