<ion-header>
  <ion-toolbar>
    <ion-title>Filter Report Cashier</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-label position="stacked">Jenis Transaksi</ion-label>
        <ion-select placeholder="Pilih Jenis Transaksi" [(ngModel)]="transactionTypeId" interface="action-sheet">
          <ion-select-option value="0">Semua Kasir</ion-select-option>
          <ion-select-option value="1">Kasir Reguler</ion-select-option>
          <ion-select-option value="2">Kasir Reseller</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-radio-group [(ngModel)]="rekapPer">
        <ion-list-header>
          <ion-label class="radio-button-label">Rekap Per</ion-label>
        </ion-list-header>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label>Transaksi</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Detail</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Barang</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label>Brand</ion-label>
              <ion-radio value="3"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Hadiah</ion-label>
              <ion-radio value="4"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Void</ion-label>
              <ion-radio value="5"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-item lines="none">
        <ion-label position="stacked">Periode</ion-label>
        <ion-row>
          <ion-col class="ion-padding">
            <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="periodStart" placeholder="Pilih Periode Awal"></ion-datetime>
          </ion-col>
          <ion-col class="ion-padding">s/d</ion-col>
          <ion-col class="ion-padding">
            <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="periodEnd" placeholder="Pilih Periode Akhir"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Nomor Struk</ion-label>
        <ion-input type="text" placeholder="Nomor Struk" [(ngModel)]="receiptNumber"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="rekapPer !== '0'">
        <ion-label position="stacked">Divisi</ion-label>
        <ion-select placeholder="Pilih Divisi" [(ngModel)]="typeId" interface="action-sheet">
          <ion-select-option *ngFor="let type of typeList" [value]="type.id">
          {{ type.product_type_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label (click)="showCounterListCheckBox()" position="stacked" style="padding: 10px 0 10px 0;
          border: 1px solid #ccc!important;
          border-radius: 16px; cursor: pointer;">
          <ion-icon *ngIf="!showCounterCheckBox" name="caret-forward-outline"></ion-icon>
          <ion-icon *ngIf="showCounterCheckBox" name="caret-down-outline"></ion-icon>
          Counter
        </ion-label>
        <div *ngIf="showCounterCheckBox">
          <ion-item *ngFor="let counter of counterNameCheckBox">
            <ion-label style="padding-right: 100px;">{{counter.counter_name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="counter.isChecked"></ion-checkbox>
          </ion-item>
        </div>
        
        <!-- <ion-select placeholder="Pilih Counter" [(ngModel)]="counterId" interface="action-sheet">
          <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
          {{ counter.counter_name }}
          </ion-select-option>
        </ion-select> -->
      </ion-item>

      

      <ion-item lines="none">
        <ion-label position="stacked">Kassa</ion-label>
        <ion-select placeholder="Pilih Kassa" [(ngModel)]="cashierId" interface="action-sheet">
          <ion-select-option *ngFor="let cashier of cashierList" [value]="cashier.id">
          {{ cashier.cashier_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" *ngIf="transactionTypeId === '2'">
        <ion-label position="stacked">Reseller</ion-label>
        <ion-select placeholder="Pilih Reseller" [(ngModel)]="resellerId" interface="action-sheet">
          <ion-select-option *ngFor="let reseller of customerResellerList" [value]="reseller.id">
          {{ reseller.referral_code }} - {{ reseller.customer_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">User</ion-label>
        <ion-select placeholder="Pilih User" [(ngModel)]="userId" interface="action-sheet">
          <ion-select-option *ngFor="let user of userList" [value]="user.id">
          {{ user.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block" (click)="dismissModal('generate')">Generate</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>