<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="petty-cash"></ion-back-button>
    </ion-buttons>
    <ion-title>Petty Cash Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPettyCashEdit">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">No. Petty Cash</ion-label>
					<ion-input type="text" placeholder="" formControlName="noPettyCash" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate" placeholder="Pilih Tanggal Transaksi"></ion-datetime>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked">Kategori</ion-label>
          <ion-select placeholder="Pilih Kategori Petty Cash" formControlName="katPettyCash" interface="action-sheet">
            <ion-select-option *ngFor="let katPettyCash of katPettyCashList" [value]="katPettyCash.id">
            {{ katPettyCash.petty_cash_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Type</ion-label>
          <ion-select placeholder="Pilih Type" formControlName="type" interface="action-sheet">
            <ion-select-option *ngFor="let type of typeList" [value]="type.id">
            {{ type.type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item> 

        <ion-item lines="none">
					<ion-label position="stacked">Jumlah</ion-label>
					<ion-input type="text" placeholder="Jumlah" formControlName="jumlah"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Keterangan</ion-label>
					<ion-input type="text" placeholder="Keterangan" formControlName="keterangan"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPettyCashEdit.valid" (click)="updatePettyCash()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
