<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Petty Cash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="id" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tanggal" prop="Tanggal">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.doc_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Counter" prop="Counter">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Kategori" prop="Kategori">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.petty_cash_category_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipe" prop="Tipe">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p *ngIf="row.type == 'I'">Pemasukan</p>
          <p *ngIf="row.type == 'O'">Pengeluaran</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Jumlah" prop="Jumlah">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.amount}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.status}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated_At" prop="Updated_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button shape="round" size="small" color="danger" (click)="showConfirmDelete(row.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToPettyCashCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
