<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reward Dan Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Nama" prop="Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.customer_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="NoTelp" prop="NoTelp">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.phone}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="KodeReferral" prop="KodeReferral">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.referral_code}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="RewardSisa" prop="Reward Sisa">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.reward_remains}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="PointSisa" prop="PointSisa">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.point_remains}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Redem" prop="Redem">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button size="large" class="btn block"  (click)="openRedemPoint(row.id, row.customer_name, row.point_remains)">Redem Point</ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
