<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="reseller-cashback"></ion-back-button>
    </ion-buttons>
    <ion-title>Reseller Cashback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formResellerCashback">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Nomor Handphone</ion-label>
					<ion-input type="text" placeholder="Nomor Handphone" formControlName="phoneNumber"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" [disabled]="!formResellerCashback.valid"
           (click)="findReseller()">Cari</ion-button>
				</div>

        <ion-item lines="none" *ngIf="flagFind === true">
          <ion-label position="stacked">Nama Reseller</ion-label>
					<ion-input type="text" placeholder="Nama Reseller" formControlName="name"></ion-input>
        </ion-item>

        <ion-item lines="none" *ngIf="flagFind === true">
          <ion-label position="stacked">Periode Belanja Awal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDateStart"></ion-datetime>
        </ion-item>

        <ion-item lines="none" *ngIf="flagFind === true">
          <ion-label position="stacked">Periode Belanja Akhir</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDateEnd"></ion-datetime>
        </ion-item>

        <ion-item lines="none" *ngIf="flagFind === true">
          <ion-label position="stacked">Total Transaksi</ion-label>
					<ion-input type="number" placeholder="0" formControlName="totalTransaction"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center" *ngIf="flagFind === true && totalCashback !== 0">
          <div class="cashback-active">
            <p>SELAMAT ! RESELLER {{ resellerName }} MENDAPATKAN CASHBACK SENILAI RP {{ totalCashback | number }}</p>
          </div>
        </div>

        <div class="ion-padding ion-text-center" *ngIf="flagFind === true && totalCashback === 0">
          <div class="cashback-inactive">
            <p>MOHON MAAF, TOTAL TRANSAKSI SAAT INI BELUM MENCUKUPI UNTUK MENDAPATKAN CASHBACK.</p>
          </div>
        </div>

        <div class="ion-padding ion-text-center" *ngIf="flagFind === true && totalCashback !== 0">					
          <ion-button size="large" class="btn block" (click)="process()">Bayar</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
