.large-2 {
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

.large-2::-webkit-scrollbar-track {
	padding: 2px 0;
}

.large-2::-webkit-scrollbar {
	width: 10px;
}

.large-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}