<ion-header>
  <ion-toolbar>
    <ion-title>Tambah List Product</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <input #myInput style="width: 100%;height:40px;border: 1px solid #ccc; border-radius: 16px; outline: none; padding: 10px;" autocomplete="off"
          placeholder="Scan Barcode Here" [(ngModel)]="productBarcode" (keyup.enter)="getProduct(productBarcode)"/>
          {{ myInput.focus() }}
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-grid *ngIf="action === 'product'">
    <ion-row style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
      <ion-col size="1">No</ion-col>
      <ion-col size="3">Barcode</ion-col>
      <ion-col size="7">Product</ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <div *ngIf="productList.length > 0" class="large-2" id="item" style="font-size: 14px;">
      <ion-row *ngFor="let product of productList; let i = index">
        <ion-col size="1">{{ i+1 }}</ion-col>
        <ion-col size="3">{{ product.barcode }}</ion-col>
        <ion-col size="7">{{ product.id }} - {{ product.name }}</ion-col>
        <ion-col size="1">
          <ion-button size="small" color="light" (click)="deleteDetail(i)">
            <ion-icon color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="action === 'bonus'">
    <ion-row style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
      <ion-col size="1">No</ion-col>
      <ion-col size="3">Barcode</ion-col>
      <ion-col size="3">Product</ion-col>
      <ion-col size="2">Stock</ion-col>
      <ion-col size="2">Terpakai</ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <div *ngIf="productList.length > 0" class="large-2" id="item" style="font-size: 14px;">
      <ion-row *ngFor="let product of productList; let i = index">
        <ion-col size="1">{{ i+1 }}</ion-col>
        <ion-col size="3">{{ product.barcode }}</ion-col>
        <ion-col size="3">{{ product.id }} - {{ product.name }}</ion-col>
        <ion-col size="2">{{ product.stock }}</ion-col>
        <ion-col size="2">{{ product.terpakai }}</ion-col>
        <ion-col size="1">
          <ion-button *ngIf="product.terpakai === 0" size="small" color="light" (click)="deleteDetail(i)">
            <ion-icon color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>