<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Master Barang</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" (click)="openAdvancedFilters()">Advanced Filter</ion-button>
          <ion-button size="small" color="success" (click)="clearFilters()">Clear Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." [(ngModel)]="keywordSearch" (keyup.enter)="searchWithKeywords()">
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="PCode" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama" prop="product_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Barcode" prop="barcode">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.barcode}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Harga" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.price}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Brand" prop="product_brand_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_brand_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Divisi" prop="product_type_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_type_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Kategori" prop="product_category_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_category_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToMstProductCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="dark" (click)="showConfirmPull()">
		  <ion-icon name="download"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
