<ion-header>
  <ion-toolbar>
    <ion-title>Member Point</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="radioGroupChange($event)">
      <ion-row>
        <ion-col>    
          <ion-item>
            <ion-label>Pakai Point</ion-label>
            <ion-radio slot="start" value="0"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Tambah Point</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-row>
      <ion-col size="1">
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-input [(ngModel)]="memberParam" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" (click)="searchMember()" [disabled]="btnFindMember">Cari Member</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>


  <h3 *ngIf="addPointForm" class="ion-text-center">Tambah Point</h3>
  <h3 *ngIf="usedPointForm" class="ion-text-center">Pakai Point</h3>

  <ion-list *ngIf="addPointForm || usedPointForm" lines="none">
    <ion-row style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>ID</ion-label>
      </ion-col>
      <ion-col size="7"> 
        <ion-input [(ngModel)]="memberId" type="text" readonly style="display: none;"></ion-input>
        <ion-input [(ngModel)]="memberIdentityNumber" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>Nama Member</ion-label>
      </ion-col>
      <ion-col size="7">  
        <ion-input [(ngModel)]="memberName" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>Np HP</ion-label>
      </ion-col>
      <ion-col size="7">  
        <ion-input [(ngModel)]="memberPhone" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>Point</ion-label>
      </ion-col>
      <ion-col size="7">  
        <ion-input [(ngModel)]="memberPoint" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="usedPointForm" style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>Point Dipakai</ion-label>
      </ion-col>
      <ion-col size="7" *ngIf="!setPointVal">
        <ion-select [(ngModel)]="memberPointUsed" placeholder="Pilih Jumlah Point" interface="action-sheet" style="border: 1px solid #ccc; border-radius: 16px; outline: none;">
          <ion-select-option *ngFor="let points of memberPointforUseList" [value]="points.point">
            {{ points.point }}
          </ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="7" *ngIf="setPointVal">
        <ion-input [(ngModel)]="memberPointUsed" type="text" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <div class="ion-padding ion-text-center">					
      <ion-button *ngIf="addPointForm" size="small" (click)="dismissModal()">Tambah Point</ion-button>
      <ion-button *ngIf="usedPointForm" size="small" (click)="setPointUsed()">Pakai Point</ion-button>
      <ion-button size="small" (click)="clearField()">Hapus</ion-button>
    </div>
  </ion-list>
</ion-content>