<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="master-product"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Master Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formMstProductCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">Nama Barang</ion-label>
					<ion-input type="text" placeholder="Nama Barang" formControlName="productName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Barang di Struk</ion-label>
					<ion-input type="text" placeholder="Nama Barang di Struk" formControlName="initialName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Barcode</ion-label>
					<ion-input type="text" placeholder="Barcode" formControlName="barcode"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Barang</ion-label>
          <ion-select placeholder="Pilih Jenis Barang" formControlName="marketingTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let marketing of marketingTypeList" [value]="marketing.id">
            {{ marketing.product_marketing_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Barang</ion-label>
          <ion-select placeholder="Pilih Type" formControlName="typeId" interface="action-sheet"
          (ionChange)="getSubTypeList($event)">
            <ion-select-option *ngFor="let type of typeList" [value]="type.id">
            {{ type.product_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Tipe Barang</ion-label>
          <ion-select placeholder="Pilih Sub Type" formControlName="subTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let subType of subTypeList" [value]="subType.id">
            {{ subType.product_sub_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked">Kategori</ion-label>
          <ion-select placeholder="Pilih Kategori" formControlName="categoryId" interface="action-sheet"
          (ionChange)="getSubCategoryList($event)">
            <ion-select-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.product_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Kategori</ion-label>
          <ion-select placeholder="Pilih Sub Kategori" formControlName="subCategoryId" interface="action-sheet">
            <ion-select-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
            {{ subCategory.product_sub_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Brand</ion-label>
          <ion-select placeholder="Pilih Brand" formControlName="brandId" interface="action-sheet"
          (ionChange)="getSubBrandList($event)">
            <ion-select-option *ngFor="let brand of brandList" [value]="brand.id">
            {{ brand.product_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Brand</ion-label>
          <ion-select placeholder="Pilih Sub Brand" formControlName="subBrandId" interface="action-sheet">
            <ion-select-option *ngFor="let subBrand of subBrandList" [value]="subBrand.id">
            {{ subBrand.product_sub_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Harga</ion-label>
          <ion-input type="number" placeholder="0" formControlName="price"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formMstProductCreate.valid" (click)="inputProduct()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
