<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="payment-voucher"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Payment Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPaymentVoucherCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate" placeholder="Pilih Tanggal Transaksi"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Kas Bank</ion-label>
          <ion-select placeholder="Pilih Kas Bank" formControlName="kasBank" interface="action-sheet">
            <ion-select-option *ngFor="let kasBank of kasBankList" [value]="kasBank.id">
            {{ kasBank.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Penerima</ion-label>
					<ion-input type="text" placeholder="Penerima" formControlName="penerima"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">No. Referensi</ion-label>
					<ion-input type="text" placeholder="No. Referensi" formControlName="noReferensi"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">No. Bukti</ion-label>
					<ion-input type="text" placeholder="No. Bukti" formControlName="noBukti"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Jumlah</ion-label>
					<ion-input type="text" placeholder="jumlah" formControlName="jumlah"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Keterangan</ion-label>
          <ion-textarea rows="4" placeholder="Keterangan" type="text" formControlName="keterangan"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Mata Uang</ion-label>
          <ion-select placeholder="Pilih Mata Uang" formControlName="currency" interface="action-sheet" (ionChange)="getKurs($event)">
            <ion-select-option *ngFor="let currency of currencyList" [value]="currency.id">
            {{ currency.foreign_currency_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Kurs</ion-label>
					<ion-input type="number" placeholder="Kurs" formControlName="kurs" readonly></ion-input>
        </ion-item>
        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Detail</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Coa</ion-label>
              <ionic-selectable
                formControlName="coa_id"
                [items]="coaSearch"
                itemValueField="id"
                itemTextField="name"
                [canSearch]="true"
                (onSearch)="searchCoas($event)">
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Jumlah</ion-label>
              <ion-input type="text" placeholder="1" formControlName="amount"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Counter</ion-label>
              <ion-select placeholder="Pilih Counter" formControlName="counter_id" interface="action-sheet">
                <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
                {{ counter.counter_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Keterangan</ion-label>
              <ion-input type="text" placeholder="1" formControlName="desc"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>
        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" [disabled]="!formPaymentVoucherCreate.valid" (click)="inputPaymentVoucher()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
