<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ganti Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formChangePassword">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Password Lama</ion-label>
          <ion-input type="password" placeholder="Password Lama" formControlName="oldPassword"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Password Baru</ion-label>
          <ion-input type="password" placeholder="Password Baru" formControlName="newPassword"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Konfirmasi Password Baru</ion-label>
          <ion-input type="password" placeholder="Konfirmasi Password Baru" formControlName="confirmationNewPassword"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" [disabled]="!formChangePassword.valid"
            (click)="savePassword()">Submit</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
