<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutup Bulan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formClosedMonth">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Periode Sebelumnya</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="periodBefore"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Periode Sekarang</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="periodNow"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Periode Selanjutnya</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="periodNext"></ion-datetime>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"  (click)="processClosedMonth()">Tutup Bulan</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
