<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Stock Auditrail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-button size="block" color="warning" (click)="openAdvancedFilters()">FILTER REPORT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="monthName !== null">
      <ion-col size="5">
        <div class="parameter-name">Bulan</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ monthName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="paramYear !== null">
      <ion-col size="5">
        <div class="parameter-name">Tahun</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ paramYear }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="counterName !== null">
      <ion-col size="5">
        <div class="parameter-name">Counter</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ counterName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="warehouseName !== null">
      <ion-col size="5">
        <div class="parameter-name">Gudang</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ warehouseName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedProduct !== null">
      <ion-col size="5">
        <div class="parameter-name">Product</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ selectedProduct }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="reportData.length > 0">
      <ion-col>
        <ion-button size="small" color="success" (click)="exportToExcel()">Export to Excel</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <div style="overflow-x:auto;">
    <table id="excel-table">
      <tr class="background-table">
        <td style="padding: 6px 15px 6px 15px; text-align: center;">No</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">Tanggal</td>
        <td style="padding: 0 100px 0 100px; text-align: center;">Transaksi</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">No. Transaksi</td>
        <td style="padding: 0 20px 0 20px; text-align: center;">Masuk</td>
        <td style="padding: 0 20px 0 20px; text-align: center;">Keluar</td>
        <td style="padding: 0 20px 0 20px; text-align: center;">Saldo</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.transaction_id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="date-and-receipt">{{ report.trans_date }}</td>
            <td class="normal-text">{{ report.stock_move }} - {{ report.stock_mutation_type_name }}</td>
            <td class="normal-text">{{ report.transaction_id }}</td>
            <td class="nominal">{{ report.stock_move === 'I' ? report.qty : 0 }}</td>
            <td class="nominal">{{ report.stock_move === 'O' ? report.qty : 0 }}</td>
            <td class="nominal">{{ report.sum_end_stock }}</td>
          </ng-template>
          <ng-template #data_sum>
            <td colspan="4" class="data-sum-title background-table">{{ report.warehouse_name }} - {{ report.sum_title }}</td>
            <td class="nominal background-table">{{ report.sum_in_stock }}</td>
            <td class="nominal background-table">{{ report.sum_out_stock }}</td>
            <td class="nominal background-table">{{ report.sum_end_stock }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
