<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="success" (click)="clearFilters()">Clear Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." [(ngModel)]="keywordSearch" (keyup.enter)="pageCallback({ offset: this.page.offset })">
        </ion-col>
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Nama Menu" prop="Menu_Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.menu_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Icon" prop="Icon">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.icon}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Root" prop="Root">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.root}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.active === '0'">Not Active</div>
          <div *ngIf="row.active === '1'">Active</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated_At" prop="Updated_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button shape="round" size="small" color="danger" (click)="showConfirmDelete(row.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToMenuCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
