<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Name" prop="Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.employee_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="NIK" prop="NIK">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.employee_nik}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" prop="Gender">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gender}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="Email">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.email}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.active === '0'">Not Active</div>
          <div *ngIf="row.active === '1'">Active</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated_At" prop="Updated_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="dark" (click)="showConfirmPull()">
		  <ion-icon name="download"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>