<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="role"></ion-back-button>
    </ion-buttons>
    <ion-title>Role Access - {{ roleName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="ion-padding">
    <form [formGroup]="formRoleAccessEdit">
      <ion-grid class="ntable">
        <ion-row style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
          <ion-col>No.</ion-col>
          <ion-col size="3">Nama</ion-col>
          <ion-col>View</ion-col>
          <ion-col>Read</ion-col>
          <ion-col>Read All</ion-col>
          <ion-col>Create</ion-col>
          <ion-col>Update</ion-col>
          <ion-col>Delete</ion-col>
          <ion-col>Approve</ion-col>
          <ion-col>Download</ion-col>
        </ion-row>
        <div formArrayName="roleAccess">
          <ion-row *ngFor="let role of getRoleAccessArray.controls; let i = index" 
          [formGroupName]="i">
            <ion-col>{{ i + 1 }}</ion-col>
            <ion-col size="3"><ion-input formControlName="menuName" readonly></ion-input></ion-col>
            <ion-col><ion-checkbox formControlName="view"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="read"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="readAll"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="create"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="update"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="delete"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="approve"></ion-checkbox></ion-col>
            <ion-col><ion-checkbox formControlName="download"></ion-checkbox></ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block" (click)="onSubmitForm()">Update</ion-button>
      </div>
    </form>
  </div>
</ion-content>
