<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sub Brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Name" prop="product_sub_brand_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_sub_brand_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.active === '0'">Not Active</div>
          <div *ngIf="row.active === '1'">Active</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_By" prop="Created_By">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_by}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated_By" prop="Updated_By">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_by}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
