<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="price-group"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Group Harga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPriceGroupEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-input type="text" placeholder="Counter Name" formControlName="counterName" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Grup</ion-label>
          <ion-select placeholder="Pilih Tipe Grup" formControlName="priceGroupType" interface="action-sheet">
            <ion-select-option *ngFor="let type of priceGroupTypeList" [value]="type.id">
            {{ type.type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Status" formControlName="status" interface="action-sheet">
            <ion-select-option *ngFor="let status of statusPriceGroup; let i = index" [value]="i">
            {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-list>
        <ion-row>
          <ion-col class="ion-text-right">
            <input type="text" placeholder="Search..." formControlName="keywordSearch" (keyup.enter)="searchProduct()">
          </ion-col>
        </ion-row>
      </ion-list>

      <ngx-datatable 
      class="material"
      [limit]="10" 
      [rows]="rows" 
      [rowHeight]="60"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="60" 
      [footerHeight]="60">
      <ngx-datatable-column name="PCode" prop="product_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama" prop="product_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Harga" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div (click)="changePriceProduct(row)" class="cursor-click tooltip">{{row.price}}<span class="tooltiptext">Ganti Harga</span></div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  
      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block"
        [disabled]="!formPriceGroupEdit.valid" (click)="update()">Update</ion-button>
      </div>
    </div>
  </form>
</ion-content>
