<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stock-opname"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Stock Opname</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <form [formGroup]="formStockOpnameEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">No Dokumen</ion-label>
					<ion-input type="text" placeholder="No Dokumen" formControlName="stockOpnameId" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select [disabled]="stockOpnameStatus === '0' ? 'false' : 'true'"  placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select [disabled]="stockOpnameStatus === '0' ? 'false' : 'true'" placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet"
          (change)="clearDetail()">
            <ion-select-option *ngFor="let warehouse of warehouseData" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime [disabled]="stockOpnameStatus === '0' ? 'false' : 'true'" displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input [readonly]="stockOpnameStatus === '0' ? 'false' : 'true'" type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block">Detail</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
  <div class="ion-padding" *ngIf="stockOpnameStatus === '0'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <input id="inputBarcode" style="width: 100%;height:40px;border: 1px solid #ccc; border-radius: 16px; outline: none; padding: 10px;" autocomplete="off"
            placeholder="Scan Barcode Here" [(ngModel)]="productBarcode" (keyup.enter)="getProduct(productBarcode)">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-padding" *ngIf="stockOpnameDetailData.length > 0">
    <!-- <div *ngIf="changeDetailTableCount === 0"> -->
      <table>
        <thead>
          <tr class="background-table">
            <th style="padding: 6px 0 6px 0;">No</th>
            <th>PCode</th>
            <th style="padding: 0 150px 0 150px;">Nama Barang</th>
            <th>Qty Fisik</th>
            <th>Satuan</th>
            <th>Qty Program</th>
            <th>Selisih</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of stockOpnameDetailData; let i = index;">
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ detail.product_id }}</td>
            <td class="normal-text">{{ detail.product_name }}</td>
            <td class="normal-text">
              <ion-input type="number" [id]="'qtyPhysic_'+detail.id" [value]="detail.qty_real" 
              (dblclick)="sameQty(detail.id, detail.qty_program)"
              (change)="changeQty(detail.id, detail.qty_program, $event.target.value)" [readonly]="checkStatus()"></ion-input>
            </td>
            <td class="normal-text">{{ detail.unit }}</td>
            <td class="nominal">{{ detail.qty_program }}</td>
            <td class="nominal" [id]="'qtyDiff_'+detail.id">{{ detail.qty_real - detail.qty_program }}</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->

    <!-- <div *ngIf="changeDetailTableCount === 1">
      <table>
        <thead>
          <tr class="background-table">
            <th style="padding: 6px 0 6px 0;">No</th>
            <th>PCode</th>
            <th style="padding: 0 150px 0 150px;">Nama Barang</th>
            <th>Qty Fisik</th>
            <th>Satuan</th>
            <th>Qty Program</th>
            <th>Selisih</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of stockOpnameDetailData; let i = index;">
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ detail.id }}</td>
            <td class="normal-text">{{ detail.product_name }}</td>
            <td class="normal-text">
              <ion-input type="number" [id]="'qtyPhysic_'+detail.id" value="0" 
              (dblclick)="sameQty(detail.id, detail.qty_program)"
              (change)="changeQty(detail.id, detail.qty_program, $event.target.value)"></ion-input>
            </td>
            <td class="normal-text">{{ detail.unit }}</td>
            <td class="nominal">{{ detail.qty_program }}</td>
            <td class="nominal" [id]="'qtyDiff_'+detail.id">0</td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <div class="ion-padding ion-text-center" *ngIf="stockOpnameStatus === '0'">
      <ion-button size="small" color="secondary"
      [disabled]="!formStockOpnameEdit.valid" (click)="update('data')">
        <ion-icon name="save"></ion-icon>Save
      </ion-button>
      <ion-button *ngIf="roleName === 'TEAM_LEADER' && roleAccess.approve === '1'" size="small" color="success" (click)="update('status')">
        <ion-icon name="checkmark-done-circle"></ion-icon>Approve
      </ion-button>
      <!-- <ion-button size="small" color="danger" (click)="getData()">
        <ion-icon name="close-circle"></ion-icon>Cancel
      </ion-button> -->
    </div>
  </div>
  <div class="approval-history">
    <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
    <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
    <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
    <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
  </div>
  <br>
  <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
    <div *ngFor="let approve of approvalHistoryData">
      <p><ion-icon name="remove"></ion-icon><b>Stock Opname Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="scrollToTop()">
		  <ion-icon name="chevron-up"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="dark" (click)="scrollToBottom()">
		  <ion-icon name="chevron-down"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
