.banner {
	padding: 0 22px;

	.profile_container {
		ion-row {
			align-items: center;
			margin-bottom: 13px;

			ion-col {
				.icon_box {
					width: 60px;
					margin: 0 auto;
					img {
						border-radius: 50%;
					}
				}
			}
		}

		.profile_img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
			margin: 0 auto;
			img {
				width: 110px;
				height: 110px;
			}
		}

		h2 {
			margin: 0;
			color: var(--text-black);
			font-size: 1.43rem;
			letter-spacing: 0;
			margin-bottom: 13px;
		}

		h3 {
			margin: 0;
			color: var(--text-dark);
			font-size: .96rem;
			font-weight: 400;
			margin-bottom: 7px;
		}

		p {
			margin: 0;
			font-weight: 500;
			font-size: .98rem;
			margin-bottom: 13px;

			span {
				min-width: 31px;
				display: inline-block;
				position: relative;
				height: 7px;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					margin: auto;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: var(--primary);

				}
			}

			&.about {
				margin-bottom: 6px; 
				letter-spacing: .2px;
				font-weight: 400;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}
	}
}

.form {
	margin-top: 45px;
}

.custom-alert-class {
    --backdrop-opacity: 0.2;
    --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    border: 1px solid #ddd;
}
  
.background-table {
    background-color: #FDB915;
}
  
.nominal {
    text-align: right;
    padding: 5px 5px 5px 0;
}
  
.nominal-laba {
    text-align: right;
    padding: 5px 5px 5px 0;
    background-color: greenyellow;
}
  
.normal-text {
    text-align: left;
    padding: 5px 0px 5px 5px;
}
  
.date-and-receipt {
    text-align: center;
}

.parameter-name {
    background-color: yellow;
    padding: 10px 0 10px 7px;
}

.parameter-value {
    border: 1px solid #ccc;
    /*padding: 10px 0 10px 7px;*/
}

.data-sum-title {
    text-align: center;
}

.approval-history {
    padding: 0.01em 16px;
    color: #000!important;
    background-color: #ffe389!important;
    border-left: 6px solid #ccc!important;
    border-color: #FDB915!important;
}