<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="promotions"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Promosi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPromotionCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet"
          (ionChange)="getWarehouseList($event)">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item lines="none">
					<ion-label position="stacked">Nama Promosi</ion-label>
					<ion-input type="text" placeholder="Nama Promosi" formControlName="promotionName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Mulai</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="earlyPeriod" placeholder="Pilih Tanggal Mulai"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Selesai</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="endPeriod" placeholder="Pilih Tanggal Selesai"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Promosi</ion-label>
          <ion-select placeholder="Pilih Tipe Promosi" formControlName="promotionType" interface="action-sheet">
            <ion-select-option *ngFor="let type of promotionTypeData" [value]="type.id">
            {{ type.promotion_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Kasir</ion-label>
          <ion-select placeholder="Pilih Tipe Kasir" formControlName="promotionCashierType" interface="action-sheet">
            <ion-select-option *ngFor="let type of cashierType; let i = index" [value]="i">
            {{ type }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" style="display: none;">
					<ion-label position="stacked">Minimum</ion-label>
					<ion-input type="number" placeholder="1" formControlName="minimum"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Promo Berlaku di Hari</ion-label>
          <ion-item>
            <ion-label>Senin</ion-label>
            <ion-checkbox slot="start" formControlName="validOnMon"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Selasa</ion-label>
            <ion-checkbox slot="start" formControlName="validOnTue"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Rabu</ion-label>
            <ion-checkbox slot="start" formControlName="validOnWed"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Kamis</ion-label>
            <ion-checkbox slot="start" formControlName="validOnThu"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Jumat</ion-label>
            <ion-checkbox slot="start" formControlName="validOnFri"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Sabtu</ion-label>
            <ion-checkbox slot="start" formControlName="validOnSat"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Minggu</ion-label>
            <ion-checkbox slot="start" formControlName="validOnSun"></ion-checkbox>
          </ion-item>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPromotionCreate.valid" (click)="inputPromotions()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
