<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="gudang"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Gudang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formWarehouseEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Gudang</ion-label>
					<ion-input type="text" placeholder="Nama Gudang" formControlName="warehouseName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Gudang</ion-label>
          <ion-select placeholder="Pilih Tipe Gudang" formControlName="warehouseTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let type of warehouseTypeData" [value]="type.id">
            {{ type.warehouse_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Unit Size</ion-label>
					<ion-input type="text" placeholder="Meter" formControlName="unitSize"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Ukuran Panjang</ion-label>
					<ion-input type="number" placeholder="Ukuran Panjang" formControlName="lengthSize"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Ukuran Lebar</ion-label>
					<ion-input type="number" placeholder="Ukuran Lebar" formControlName="widthSize"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Ukuran Tinggi</ion-label>
					<ion-input type="number" placeholder="Ukuran Tinggi" formControlName="heightSize"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Status" formControlName="activeStatus" interface="action-sheet">
            <ion-select-option *ngFor="let status of statusWarehouse; let i = index" [value]="i">
            {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formWarehouseEdit.valid" (click)="updateData()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>