<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Petty Cash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- <form [formGroup]="formPettyCash"
        <ion-row>
          <ion-col size="2">
            <div class="parameter-name">Periode (Bulan dan Tahun)</div>
          </ion-col>
          <ion-col size="5">
            <div class="parameter-value">
              <ion-datetime displayFormat="MMM, YYYY" formControlName="stockDate" placeholder="Pilih Periode"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <div class="parameter-name"></div>
          </ion-col>
          <ion-col size="5">
            <div class="parameter-value">
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" (click)="setParameterReport()">Set Report Parameters</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="reportData.length > 0">
        <ion-col>
          <ion-button size="small" color="success" (click)="exportToExcel()">Export to Excel</ion-button>
        </ion-col>
      </ion-row>
    </form> -->
  </ion-list>
</ion-content>