<ion-header>
  <ion-toolbar>
    <ion-title>Voucher</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="form">
          <ion-item lines="none">
            <ion-label position="stacked">Kode Voucher</ion-label>
            <ion-input type="text" placeholder="Masukkan Kode Voucher" [(ngModel)]="voucherCode" (keyup.enter)="getVoucher(voucherCode)"></ion-input>
          </ion-item>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="form">
          <ion-item lines="none">
            <ion-label position="stacked">Total Belanja</ion-label>
            <ion-input type="number" [value]="totalTransaction" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="form">
          <ion-item lines="none">
            <ion-label position="stacked">Total Voucher</ion-label>
            <ion-input type="number" [value]="totalVoucher" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
            <ion-col>No</ion-col>
            <ion-col>Voucher</ion-col>
            <ion-col>Mata Uang</ion-col>
            <ion-col>Nilai</ion-col>
            <ion-col>Terpakai</ion-col>
            <ion-col>Expired</ion-col>
          </ion-row>
          <div *ngIf="voucherData.length > 0">
            <ion-row *ngFor="let voucher of voucherData; let i = index">
              <ion-col>{{ i+1 }}</ion-col>
              <ion-col>{{ voucher.voucher_code }}</ion-col>
              <ion-col>{{ voucher.currency }}</ion-col>
              <ion-col>{{ voucher.nominal }}</ion-col>
              <ion-col>0</ion-col>
              <ion-col>{{ voucher.expired_date }}</ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>