<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cashier"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Kassa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCashierEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Kassa</ion-label>
					<ion-input type="text" placeholder="Nama Cashier" formControlName="cashierName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Status" formControlName="activeStatus" interface="action-sheet">
            <ion-select-option *ngFor="let status of statusCashier; let i = index" [value]="i">
            {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formCashierEdit.valid" (click)="updateData()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
