<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Penerimaan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-button size="block" color="warning" (click)="openAdvancedFilters()">FILTER REPORT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="paramProductReceivingId !== null">
      <ion-col size="5">
        <div class="parameter-name">Nomor Penerimaan Barang</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ paramProductReceivingId }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="paramProductRequestId !== null">
      <ion-col size="5">
        <div class="parameter-name">Nomor Permintaan Barang</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ paramProductRequestId }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="counterName !== null">
      <ion-col size="5">
        <div class="parameter-name">Counter</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ counterName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="warehouseName !== null">
      <ion-col size="5">
        <div class="parameter-name">Gudang</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ warehouseName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="paramDocDateStart !== null && paramDocDateEnd !== null">
      <ion-col size="5">
        <div class="parameter-name">Tanggal Dokumen</div>
      </ion-col>
      <ion-col size="3">
        <div class="parameter-value">{{ paramDocDateStart }}</div>
      </ion-col>
      <ion-col size="1">
        <div class="ion-padding ion-text-center">-</div>
      </ion-col>
      <ion-col size="3">
        <div class="parameter-value">{{ paramDocDateEnd }}</div>
      </ion-col>
    </ion-row>
  </ion-list>

  <div style="overflow-x:auto;">
    <table>
      <tr class="background-table">
        <td style="padding: 6px 15px 6px 15px; text-align: center;">No</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">No_Penerimaan_Barang</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">No_Permintaan_Barang</td>
        <td style="padding: 0 40px 0 40px; text-align: center;">Counter</td>
        <td style="padding: 0 40px 0 40px; text-align: center;">Gudang</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">Tgl_Dokumen</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">Courier</td>
        <td style="padding: 0 30px 0 30px; text-align: center;">Status</td>
        <td style="padding: 0 25px 0 25px; text-align: center;">Action</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="normal-text">{{ report.product_receiving_id }}</td>
          <td class="normal-text">{{ report.product_request_id }}</td>
          <td class="normal-text">{{ report.counter_name }}</td>
          <td class="normal-text">{{ report.warehouse_name }}</td>
          <td class="date-and-receipt">{{ report.doc_date }}</td>
          <td class="date-and-receipt">{{ report.courier }}</td>
          <td [ngClass]="checkStatus(report.status)">{{ receivingStatusList[report.status] }}</td>
          <td class="date-and-receipt">
            <ion-button color="warning" size="small" (click)="productReceivingDetail(report.product_receiving_id, 'detail')">Detail</ion-button>
            <ion-button color="success" size="small" (click)="productReceivingDetail(report.product_receiving_id, 'export')">Export</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto; display: none;">
    <table id="excel-table">
      <tr>
        <td>No</td>
        <td>No_Penerimaan_Barang</td>
        <td>No_Permintaan_Barang</td>
        <td>Counter</td>
        <td>Gudang</td>
        <td>Tgl_Dokumen</td>
        <td>Status</td>
        <td>PCode</td>
        <td>Nama Product</td>
        <td>Qty_Permintaan</td>
        <td>Qty_Penerimaan</td>
        <td>Selisih</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportDataDetail; let i = index;">
          <td>{{ i+1 }}</td>
          <td>{{ report.product_receiving_id }}</td>
          <td>{{ report.product_request_id }}</td>
          <td>{{ report.counter_name }}</td>
          <td>{{ report.warehouse_name }}</td>
          <td>{{ report.doc_date }}</td>
          <td>{{ receivingStatusList[report.status] }}</td>
          <td>`{{ report.product_id }}</td>
          <td>{{ report.product_name }}</td>
          <td>{{ report.qty_request }}</td>
          <td>{{ report.qty_receiving }}</td>
          <td>{{ report.qty_diff }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</ion-content>
