<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setor Kasir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="id" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="counter_id" prop="counter_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="user_id" prop="user_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.user_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="cashier_capital_id" prop="cashier_capital_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.cashier_capital_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="transaction_date" prop="transaction_date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.transaction_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="amount" prop="amount">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.amount}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="diff" prop="diff">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.diff}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="description" prop="description">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.description}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created_At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated_At" prop="Updated_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button shape="round" size="small" color="danger" (click)="showConfirmDelete(row.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToSetorKasirCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>

