<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." [(ngModel)]="keywordSearch" (keyup.enter)="pageCallback({ offset: this.page.offset })">
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Nama" prop="name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.email}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Username" prop="username">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.username}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role" prop="role_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.role_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cabang" prop="branch_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.branch_name ? row.branch_name : '-'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Counter" prop="counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_name ? row.counter_name : '-'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToEditPage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="dark" (click)="showConfirmPull()">
		  <ion-icon name="download"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
