<ion-header>
  <ion-toolbar>
    <ion-title>Redeem Point</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-row>
      <ion-col size="3">
        Nama
      </ion-col>
      <ion-col size="9">
        <ion-input [(ngModel)]="resellerName" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;" readonly></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Sisa Point
      </ion-col>
      <ion-col size="5">
        <ion-input [(ngModel)]="sisaPoint" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;" readonly></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Point Redem
      </ion-col>
      <ion-col size="5">
        <ion-input [(ngModel)]="pointRedem" (ngModelChange)="cekValid()" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Keterangan Hadiah
      </ion-col>
      <ion-col size="9">
        <ion-input [(ngModel)]="keterangan" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list lines="none">
    <div class="ion-padding ion-text-center">					
      <ion-button size="small" (click)="redem()">Redem</ion-button>
    </div>
  </ion-list>
</ion-content>