<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Promosi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>

    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Nama Counter" prop="counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Promosi" prop="promotion_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.promotion_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipe" prop="promotion_type_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.promotion_type_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tgl Mulai" prop="early_period">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.early_period}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tgl Selesai" prop="end_period">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.end_period}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.status === '0'">Not Active</div>
          <div *ngIf="row.status === '1'">Active</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="Created_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="Updated_At">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button shape="round" size="small" color="success" (click)="goToPromotionDetail(row.id)">
            <ion-icon name="bag-handle"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToPromotionCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
