<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="voucher"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formVoucherCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">Jumlah Digit Kode Voucher</ion-label>
					<ion-input type="number" placeholder="0" formControlName="numberLength"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Jumlah Generate Voucher</ion-label>
					<ion-input type="number" placeholder="0" formControlName="voucherTotal"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nominal Voucher</ion-label>
					<ion-input type="number" placeholder="0" formControlName="nominal"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Mata Uang</ion-label>
          <ion-select placeholder="Pilih Mata Uang" formControlName="currencyId" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencyList" [value]="currency.foreign_currency_name">
            {{ currency.foreign_currency_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Expired</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="expiredDate" placeholder="Pilih Tanggal Expired"></ion-datetime>
        </ion-item>

        <div class="ion-padding ion-text-center">
          <ion-button size="small" color="secondary"
          [disabled]="!formVoucherCreate.valid" (click)="generateVoucher()">Generate</ion-button>					
          <ion-button size="small" color="success"
          [disabled]="!formVoucherCreate.valid" (click)="inputVoucher()">Input</ion-button>
				</div>
      </ion-list>
    </div>

    <div class="ion-padding" *ngIf="voucherCode.length !== 0">
      <p>Hasil Generate Kode Voucher:</p>
      <table>
        <thead>
          <tr class="background-table">
            <th style="width: 70px;">No</th>
            <th style="width: 200px;">Kode Voucher</th>
            <th style="width: 122px;">Nominal Voucher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voucher of voucherCode; let i = index;">
            <td style="width: 70px;" class="normal-text">{{ i+1 }}</td>
            <td style="width: 200px;" class="normal-text">{{ voucher }}</td>
            <td style="width: 122px;" class="nominal">{{ nominalVoucher }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</ion-content>
