<ion-header>
  <ion-toolbar>
    <ion-title>List Counter</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <table>
    <thead>
      <tr class="background-table">
        <th>No</th>
        <th>Kode Counter</th>
        <th>Nama</th>
      </tr>
    </thead>
    <tbody *ngIf="counterList.length > 0">
      <tr *ngFor="let counter of counterList; let i = index;">
        <td class="date-and-receipt">{{ i+1 }}</td>
        <td class="normal-text">{{ counter.counter_code }}</td>
        <td class="normal-text">{{ counter.counter_name }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="counterList.length === 0">
      <tr>
        <td class="normal-text">Data Kosong</td>
      </tr>
    </tbody>
  </table>
</ion-content>