<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tambah Role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRoleCreate">
    <div class="form">
      <ion-list lines="none">
				<ion-item lines="none">
					<ion-label position="stacked">Nama Role</ion-label>
          <ion-input type="text" placeholder="Nama Role" formControlName="roleName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">All Access</ion-label>
					<ion-select placeholder="Pilih All Access" formControlName="allAccessOpt" interface="action-sheet">
						<ion-select-option *ngFor="let access of accessOptions; let i = index" [value]="i">
						{{ access }}
						</ion-select-option>
					</ion-select>
				</ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formRoleCreate.valid" (click)="inputRole()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
