<ion-header>
  <ion-toolbar>
    <ion-title>Advanced Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-row style="padding-left: 50px;">
      <ion-col size="3">
        <ion-label>Counter</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-select [(ngModel)]="counterSelect" placeholder="Pilih Counter" interface="action-sheet" style="border: 1px solid #ccc; border-radius: 16px; outline: none;">
          <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <div class="ion-padding ion-text-center">					
      <ion-button size="small" (click)="dismissModal()">Search</ion-button>
      <ion-button color="warning" size="small" (click)="dismissModal()">Clear</ion-button>
    </div>
  </ion-list>
</ion-content>