<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Mutasi Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="formStockReport">
      <div class="form">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-label position="stacked">Periode (Bulan dan Tahun)</ion-label>
            <ion-datetime displayFormat="MMM, YYYY" formControlName="stockDate" placeholder="Pilih Periode"></ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Warehouse</ion-label>
            <ion-select placeholder="Pilih Warehouse" formControlName="warehouseId" interface="popover">
              <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
              {{ warehouse.warehouse_name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <div class="ion-padding">
            <div class="ion-text-left">
              <ion-button size="small" color="warning" (click)="setParameterReport()">Generate Report</ion-button>
              <ion-button *ngIf="reportData.length > 0" size="small" color="success" (click)="exportToExcel()">Export to Excel</ion-button>
              <ion-button size="small" color="secondary" (click)="clearFilters()">Clear Filter</ion-button>
            </div>

            <div class="ion-text-right">
              <input type="text" placeholder="Search..." formControlName="keywordSearch" (keyup.enter)="setParameterReport()">
            </div>
          </div>
        </ion-list>
      </div>
    </form>

  <ngx-datatable 
      class="material"
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="7" 
      [sortType]="'multi'">
      <ngx-datatable-column name="Warehouse" prop="warehouse_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.warehouse_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Product Name" prop="product_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="PCode" prop="product_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Satuan" prop="unit">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.unit}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Awal" [prop]="earlyField">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="earlyField === 'early_01'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_01,row.in_01,row.out_01,row.end_01)" class="cursor-click tooltip">{{row.early_01}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_02'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_02,row.in_02,row.out_02,row.end_02)" class="cursor-click tooltip">{{row.early_02}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_03'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_03,row.in_03,row.out_03,row.end_03)" class="cursor-click tooltip">{{row.early_03}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_04'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_04,row.in_04,row.out_04,row.end_04)" class="cursor-click tooltip">{{row.early_04}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_05'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_05,row.in_05,row.out_05,row.end_05)" class="cursor-click tooltip">{{row.early_05}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_06'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_06,row.in_06,row.out_06,row.end_06)" class="cursor-click tooltip">{{row.early_06}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_07'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_07,row.in_07,row.out_07,row.end_07)" class="cursor-click tooltip">{{row.early_07}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_08'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_08,row.in_08,row.out_08,row.end_08)" class="cursor-click tooltip">{{row.early_08}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_09'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_09,row.in_09,row.out_09,row.end_09)" class="cursor-click tooltip">{{row.early_09}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_10'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_10,row.in_10,row.out_10,row.end_10)" class="cursor-click tooltip">{{row.early_10}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_11'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_11,row.in_11,row.out_11,row.end_11)" class="cursor-click tooltip">{{row.early_11}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="earlyField === 'early_12'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_12,row.in_12,row.out_12,row.end_12)" class="cursor-click tooltip">{{row.early_12}} <span class="tooltiptext">Lihat mutasi stock</span></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Masuk" [prop]="inField">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="inField === 'in_01'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_01,row.in_01,row.out_01,row.end_01)" class="cursor-click tooltip">{{row.in_01}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_02'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_02,row.in_02,row.out_02,row.end_02)" class="cursor-click tooltip">{{row.in_02}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_03'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_03,row.in_03,row.out_03,row.end_03)" class="cursor-click tooltip">{{row.in_03}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_04'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_04,row.in_04,row.out_04,row.end_04)" class="cursor-click tooltip">{{row.in_04}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_05'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_05,row.in_05,row.out_05,row.end_05)" class="cursor-click tooltip">{{row.in_05}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_06'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_06,row.in_06,row.out_06,row.end_06)" class="cursor-click tooltip">{{row.in_06}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_07'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_07,row.in_07,row.out_07,row.end_07)" class="cursor-click tooltip">{{row.in_07}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_08'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_08,row.in_08,row.out_08,row.end_08)" class="cursor-click tooltip">{{row.in_08}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_09'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_09,row.in_09,row.out_09,row.end_09)" class="cursor-click tooltip">{{row.in_09}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_10'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_10,row.in_10,row.out_10,row.end_10)" class="cursor-click tooltip">{{row.in_10}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_11'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_11,row.in_11,row.out_11,row.end_11)" class="cursor-click tooltip">{{row.in_11}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="inField === 'in_12'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_12,row.in_12,row.out_12,row.end_12)" class="cursor-click tooltip">{{row.in_12}} <span class="tooltiptext">Lihat mutasi stock</span></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Keluar" [prop]="outField">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="outField === 'out_01'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_01,row.in_01,row.out_01,row.end_01)" class="cursor-click tooltip">{{row.out_01}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_02'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_02,row.in_02,row.out_02,row.end_02)" class="cursor-click tooltip">{{row.out_02}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_03'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_03,row.in_03,row.out_03,row.end_03)" class="cursor-click tooltip">{{row.out_03}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_04'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_04,row.in_04,row.out_04,row.end_04)" class="cursor-click tooltip">{{row.out_04}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_05'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_05,row.in_05,row.out_05,row.end_05)" class="cursor-click tooltip">{{row.out_05}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_06'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_06,row.in_06,row.out_06,row.end_06)" class="cursor-click tooltip">{{row.out_06}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_07'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_07,row.in_07,row.out_07,row.end_07)" class="cursor-click tooltip">{{row.out_07}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_08'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_08,row.in_08,row.out_08,row.end_08)" class="cursor-click tooltip">{{row.out_08}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_09'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_09,row.in_09,row.out_09,row.end_09)" class="cursor-click tooltip">{{row.out_09}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_10'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_10,row.in_10,row.out_10,row.end_10)" class="cursor-click tooltip">{{row.out_10}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_11'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_11,row.in_11,row.out_11,row.end_11)" class="cursor-click tooltip">{{row.out_11}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="outField === 'out_12'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_12,row.in_12,row.out_12,row.end_12)" class="cursor-click tooltip">{{row.out_12}} <span class="tooltiptext">Lihat mutasi stock</span></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Akhir" [prop]="endField">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="endField === 'end_01'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_01,row.in_01,row.out_01,row.end_01)" class="cursor-click tooltip">{{row.end_01}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_02'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_02,row.in_02,row.out_02,row.end_02)" class="cursor-click tooltip">{{row.end_02}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_03'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_03,row.in_03,row.out_03,row.end_03)" class="cursor-click tooltip">{{row.end_03}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_04'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_04,row.in_04,row.out_04,row.end_04)" class="cursor-click tooltip">{{row.end_04}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_05'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_05,row.in_05,row.out_05,row.end_05)" class="cursor-click tooltip">{{row.end_05}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_06'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_06,row.in_06,row.out_06,row.end_06)" class="cursor-click tooltip">{{row.end_06}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_07'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_07,row.in_07,row.out_07,row.end_07)" class="cursor-click tooltip">{{row.end_07}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_08'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_08,row.in_08,row.out_08,row.end_08)" class="cursor-click tooltip">{{row.end_08}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_09'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_09,row.in_09,row.out_09,row.end_09)" class="cursor-click tooltip">{{row.end_09}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_10'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_10,row.in_10,row.out_10,row.end_10)" class="cursor-click tooltip">{{row.end_10}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_11'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_11,row.in_11,row.out_11,row.end_11)" class="cursor-click tooltip">{{row.end_11}} <span class="tooltiptext">Lihat mutasi stock</span></div>
          <div *ngIf="endField === 'end_12'" (click)="openMutationStockDetail(row.warehouse_id,row.product_id,row.early_12,row.in_12,row.out_12,row.end_12)" class="cursor-click tooltip">{{row.end_12}} <span class="tooltiptext">Lihat mutasi stock</span></div>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>

  <table id="excel-table" style="display: none;">
    <tr class="background-table">
      <td style="padding: 6px 15px 6px 15px;">No</td>
      <td style="padding: 0 30px 0 30px;">Tahun</td>
      <td style="padding: 0 30px 0 30px;">Bulan</td>
      <td style="padding: 0 30px 0 30px;">Warehouse</td>
      <td style="padding: 0 50px 0 50px;">Product Name</td>
      <td style="padding: 0 15px 0 15px;">PCode</td>
      <td style="padding: 0 15px 0 15px;">Satuan</td>
      <td style="padding: 0 15px 0 15px;">Awal</td>
      <td style="padding: 0 15px 0 15px;">Masuk</td>
      <td style="padding: 0 15px 0 15px;">Keluar</td>
      <td style="padding: 0 15px 0 15px;">Akhir</td>
    </tr>
    <tbody>
      <tr *ngFor="let report of reportData; let i = index;">
        <td class="date-and-receipt">{{ i+1 }}</td>
        <td class="normal-text">{{ report.year }}</td>
        <td class="normal-text">{{ monthName }}</td>
        <td class="normal-text">{{ report.warehouse_name }}</td>
        <td class="normal-text">{{ report.product_name }}</td>
        <td class="normal-text">'{{ report.product_id }}</td>
        <td class="normal-text">{{ report.unit }}</td>
        <div *ngIf="month === '01'; then month_01"></div>
        <ng-template #month_01>
          <td class="nominal">{{ report.early_01 }}</td>
          <td class="nominal">{{ report.in_01 }}</td>
          <td class="nominal">{{ report.out_01 }}</td>
          <td class="nominal">{{ report.end_01 }}</td>
        </ng-template>

        <div *ngIf="month === '02'; then month_02"></div>
        <ng-template #month_02>
          <td class="nominal">{{ report.early_02 }}</td>
          <td class="nominal">{{ report.in_02 }}</td>
          <td class="nominal">{{ report.out_02 }}</td>
          <td class="nominal">{{ report.end_02 }}</td>
        </ng-template>

        <div *ngIf="month === '03'; then month_03"></div>
        <ng-template #month_03>
          <td class="nominal">{{ report.early_03 }}</td>
          <td class="nominal">{{ report.in_03 }}</td>
          <td class="nominal">{{ report.out_03 }}</td>
          <td class="nominal">{{ report.end_03 }}</td>
        </ng-template>

        <div *ngIf="month === '04'; then month_04"></div>
        <ng-template #month_04>
          <td class="nominal">{{ report.early_04 }}</td>
          <td class="nominal">{{ report.in_04 }}</td>
          <td class="nominal">{{ report.out_04 }}</td>
          <td class="nominal">{{ report.end_04 }}</td>
        </ng-template>

        <div *ngIf="month === '05'; then month_05"></div>
        <ng-template #month_05>
          <td class="nominal">{{ report.early_05 }}</td>
          <td class="nominal">{{ report.in_05 }}</td>
          <td class="nominal">{{ report.out_05 }}</td>
          <td class="nominal">{{ report.end_05 }}</td>
        </ng-template>

        <div *ngIf="month === '06'; then month_06"></div>
        <ng-template #month_06>
          <td class="nominal">{{ report.early_06 }}</td>
          <td class="nominal">{{ report.in_06 }}</td>
          <td class="nominal">{{ report.out_06 }}</td>
          <td class="nominal">{{ report.end_06 }}</td>
        </ng-template>

        <div *ngIf="month === '07'; then month_07"></div>
        <ng-template #month_07>
          <td class="nominal">{{ report.early_07 }}</td>
          <td class="nominal">{{ report.in_07 }}</td>
          <td class="nominal">{{ report.out_07 }}</td>
          <td class="nominal">{{ report.end_07 }}</td>
        </ng-template>

        <div *ngIf="month === '08'; then month_08"></div>
        <ng-template #month_08>
          <td class="nominal">{{ report.early_08 }}</td>
          <td class="nominal">{{ report.in_08 }}</td>
          <td class="nominal">{{ report.out_08 }}</td>
          <td class="nominal">{{ report.end_08 }}</td>
        </ng-template>

        <div *ngIf="month === '09'; then month_09"></div>
        <ng-template #month_09>
          <td class="nominal">{{ report.early_09 }}</td>
          <td class="nominal">{{ report.in_09 }}</td>
          <td class="nominal">{{ report.out_09 }}</td>
          <td class="nominal">{{ report.end_09 }}</td>
        </ng-template>

        <div *ngIf="month === '10'; then month_10"></div>
        <ng-template #month_10>
          <td class="nominal">{{ report.early_10 }}</td>
          <td class="nominal">{{ report.in_10 }}</td>
          <td class="nominal">{{ report.out_10 }}</td>
          <td class="nominal">{{ report.end_10 }}</td>
        </ng-template>

        <div *ngIf="month === '11'; then month_11"></div>
        <ng-template #month_11>
          <td class="nominal">{{ report.early_11 }}</td>
          <td class="nominal">{{ report.in_11 }}</td>
          <td class="nominal">{{ report.out_11 }}</td>
          <td class="nominal">{{ report.end_11 }}</td>
        </ng-template>

        <div *ngIf="month === '12'; then month_12"></div>
        <ng-template #month_12>
          <td class="nominal">{{ report.early_12 }}</td>
          <td class="nominal">{{ report.in_12 }}</td>
          <td class="nominal">{{ report.out_12 }}</td>
          <td class="nominal">{{ report.end_12 }}</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</ion-content>
