table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    border: 1px solid #ddd;
}
  
.background-table {
    background-color: #FDB915;
}
  
.nominal {
    text-align: right;
    padding: 5px 5px 5px 0;
}
  
.nominal-laba {
    text-align: right;
    padding: 5px 5px 5px 0;
    background-color: greenyellow;
}
  
.normal-text {
    text-align: left;
    padding: 5px 0px 5px 5px;
}
  
.date-and-receipt {
    text-align: center;
}

.parameter-name {
    background-color: yellow;
    padding: 10px 0 10px 7px;
}

.parameter-value {
    border: 1px solid #ccc;
    /*padding: 10px 0 10px 7px;*/
}

.data-sum-title {
    text-align: center;
}

.cursor-click { 
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}