<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kassa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col *ngIf="accessType !== 'COUNTER_ACCESS'">
          <ion-button size="small" color="warning" (click)="openAdvancedFilters()">Advanced Filter</ion-button>
          <ion-button size="small" color="success" (click)="clearFilters()">Clear Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="ID Kassa" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Kassa" prop="cashier_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.cashier_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Counter" prop="counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="active">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.active === '0'">Not Active</div>
          <div *ngIf="row.active === '1'">Active</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" prop="created_by">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_by}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Updated By" prop="updated_by">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_by}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <div *ngIf="row.setup_device_id === visitorId; then show_status else default_status"></div>
          <ng-template #show_status>
            <ion-button shape="round" size="small" color="medium" (click)="showConfirmCashierSetup(row)">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
          </ng-template>
          <ng-template #default_status>
            <ion-button *ngIf="row.setup === '0'" shape="round" size="small" color="success" (click)="showConfirmCashierSetup(row)">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
            <ion-button *ngIf="row.setup === '1'" shape="round" size="small" color="danger" disabled="true">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToCashierCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
