<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="reseller-cashback"></ion-back-button>
    </ion-buttons>
    <ion-title>Reseller Cashback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formResellerCashback">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Nomor Dokumen</ion-label>
					<ion-input type="text" placeholder="Nomor Dokumen" formControlName="id" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nama Reseller</ion-label>
					<ion-input type="text" placeholder="Nama Reseller" formControlName="name" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Periode Belanja Awal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDateStart"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Periode Belanja Akhir</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDateEnd"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Total Transaksi</ion-label>
					<ion-input type="number" placeholder="0" formControlName="totalTransaction" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Bayar</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="paidDate"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Total Cashback</ion-label>
					<ion-input type="number" placeholder="0" formControlName="paidAmount" readonly></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
