<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning">Advanced Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="Batch No" prop="batch_no">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.batch_no}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tgl Expired" prop="expired_date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.expired_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mata Uang" prop="currency">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.currency}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nominal" prop="nominal">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.nominal}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.batch_no)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <!-- <ion-button shape="round" size="small" color="danger" (click)="showConfirmDelete(row.batch_no)">
            <ion-icon name="trash"></ion-icon>
          </ion-button> -->
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToVoucherCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
