<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Penjualan Per Tanggal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-row>
      <ion-col size="5">
        <div class="parameter-name">Periode</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value"><ion-datetime displayFormat="MMM, YYYY" [(ngModel)]="periode" placeholder="Pilih Periode"></ion-datetime></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <div class="parameter-name">Counter</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">
          <ion-select placeholder="Select Counter" [multiple]="false" [(ngModel)]="idCounter">
            <ion-select-option *ngFor="let counter of counterData" value="{{counter.id}}">{{ counter.counter_name }}</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button size="large" class="btn block" (click)="getReport()">Generate</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button size="small" color="success" (click)="exportToExcel()">Export to Excel</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  <div style="overflow-x:auto;">
    <table id="excel-table">
      <tr class="background-table">
        <td style="padding: 0 15px 0 15px;">No</td>
        <td style="padding: 0 25px 0 25px;">Tanggal</td>
        <td style="padding: 0 40px 0 40px;">Total</td>
        <td style="padding: 0 40px 0 40px;">Disc</td>
        <td style="padding: 0 40px 0 40px;">Netto</td>
        <td style="padding: 0 40px 0 40px;">Tax</td>
        <td style="padding: 0 40px 0 40px;">GrandTotal</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="date-and-receipt">{{ report.trans_date }}</td>
          <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
          <td class="nominal">{{ report.discount | number: '1.2-2' }}</td>
          <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
          <td class="nominal">{{ report.tax_basis | number: '1.2-2' }}</td>
          <td class="nominal">{{ report.grand_total | number: '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
