<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="8">
        <ion-input [(ngModel)]="keyword" type="text" placeholder="No. Telp/Nama Reseller" style=" border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="searchReseller()">Cari</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <ion-button class="transform-none" (click)="dismissModal()">Cancel</ion-button>
        </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let reseller of listReseller" (click)="choose(reseller.id)" [disabled]="reseller.status === 0 ? 'true' : 'false'">
          <ion-label>{{ reseller.phone }}</ion-label>
          <ion-radio slot="start"></ion-radio>
          <ion-label>{{ reseller.customer_name }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
