<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reseller Cashback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" (click)="openAdvancedFilters()">Advanced Filter</ion-button>
        </ion-col>
        <!-- <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col> -->
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="No Dokumen" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Reseller" prop="customer_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.customer_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tanggal" prop="paid_date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.paid_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total Transaksi" prop="total_transaction">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.total_transaction}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total Cashback" prop="paid_amount">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.paid_amount}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" 
          color="secondary" (click)="goToUpdatePage(row.id)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goToResellerCashbackCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
