.cashback-active {
    padding: 0.01em 6px;
    color: #000!important;
    background-color: #8dff89!important;
    border-color: #43fd15!important;
    border-radius: 10px;
}

.cashback-inactive {
    padding: 0.01em 6px;
    color: #000!important;
    background-color: #ff8989!important;
    border-color: #fd1515!important;
    border-radius: 10px;
}