<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>

    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearCache()" color="secondary">
        Check for Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/logo.png" alt="POS Logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Username</ion-label>
          <ion-input [(ngModel)]="login.username" name="username" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
           required (keyup.enter)="moveField(password)">
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>

        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="login.password" name="password" type="password" 
          #password="ngModel" required (keyup.enter)="onLogin(loginForm)">
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>

        <div class="ion-padding ion-text-center">
          <ion-button (click)="onLogin(loginForm)" class="btn block" type="submit">Login</ion-button>
        </div>
      </ion-list>
    </div>
  </form>

</ion-content>
