<ion-header>
  <ion-toolbar>
    <ion-title>Mutasi Barang</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    PCode : {{ productId }} <br>
    Nama Barang : {{ productName }} <br>
    Satuan : {{ productUnit }}
  </p>
  <table>
    <thead>
      <tr class="background-table">
        <th colspan='3' style="padding: 6px 15px 6px 15px;">Saldo Awal</th>
        <th colspan='2' class="nominal">{{ earlyStock }}</th>
      </tr>
      <tr class="background-table">
        <th>No_Transaksi</th>
        <th>Tanggal</th>
        <th>Jenis</th>
        <th>Masuk</th>
        <th>Keluar</th>
      </tr>
    </thead>
    <tbody *ngIf="stockMutationData.length > 0">
      <tr *ngFor="let mutation of stockMutationData">
        <td class="normal-text">{{ mutation.transaction_id }}</td>
        <td class="normal-text">{{ mutation.trans_date }}</td>
        <td class="normal-text">{{ mutation.stock_move }}</td>
        <td class="nominal">
          <div *ngIf="mutation.stock_move === 'I'">{{ mutation.qty }}</div>
          <div *ngIf="mutation.stock_move === 'O'">0</div>
        </td>
        <td class="nominal">
          <div *ngIf="mutation.stock_move === 'I'">0</div>
          <div *ngIf="mutation.stock_move === 'O'">{{ mutation.qty }}</div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="stockMutationData.length === 0">
      <tr>
        <td class="normal-text">Data Kosong</td>
      </tr>
    </tbody>
    <tfoot *ngIf="stockMutationData.length > 0">
      <tr>
        <th colspan='3'>Total</th>
        <th class="nominal">{{ inStock }}</th>
        <th class="nominal">{{ outStock }}</th>
      </tr>
      <tr>
        <th colspan='3'>Saldo Akhir</th>
        <th colspan='2' class='nominal'>{{ endStock }}</th>
      </tr>
    </tfoot>
  </table>
</ion-content>