<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content" when="true">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="logo-apps">
          <img src="assets/img/logo.png">
          <h4 *ngIf="counterName !== '-'">{{ counterName }}</h4>
          <p *ngIf="counterName !== '-'">{{ counterTransDate }}</p>

          <h4 *ngIf="branchName !== '-'">{{ branchName }}</h4>
        </div>
        <ion-list lines="none">
        </ion-list>
        <ion-list lines="none" *ngFor="let parent of listParent">
          <ion-list-header>
            {{ parent.menu_name }}
          </ion-list-header>
          <ion-menu-toggle *ngIf="parent.root === 'dashboard'" autoHide="false">
            <ion-item [routerLink]="['/home']" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div *ngFor="let child1 of listChild1[parent.id]">
            <ion-item button lines="none" (click)="child1.open_menu === 1 ? child1.open_menu = 0 : child1.open_menu = 1">
              <ion-icon [name]="child1.icon" slot="start"></ion-icon>
                {{ child1.menu_name }}
              <ion-icon slot="end" [name]="child1.open_menu? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
            </ion-item>
            <ion-menu-toggle autoHide="false">
              <ion-item class="sub-menu" [hidden]="!child1.open_menu" [routerLink]="['/'+child2.root]" routerDirection="root" routerLinkActive="selected" 
                *ngFor="let child2 of listChild2[child1.id]">
                <ion-icon [name]="child2.icon" slot="start"></ion-icon>
                <ion-label>
                {{ child2.menu_name }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>
        
        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="['/change-password']" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="lock-closed"></ion-icon>
              <ion-label>
                Ganti Password
              </ion-label>
            </ion-item>
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
