<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-receiving"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Penerimaan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProductReceivingDetail">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Nomor Penerimaan Barang</ion-label>
          <ion-input type="text" placeholder="Nomor Penerimaan Barang" formControlName="productReceivingId" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select disabled="true" placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select disabled="true" placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nomor Permintaan Barang</ion-label>
          <ion-input type="text" placeholder="Nomor Permintaan Barang" formControlName="productRequestId" readonly></ion-input>
        </ion-item>

        <ion-button expand="block" color="warning">List Product</ion-button>
        <br>

        <table class="ion-padding">
          <thead>
            <tr class="background-table">
              <th style="padding: 6px 0 6px 0;">No</th>
              <th>PCode</th>
              <th style="padding: 0 150px 0 150px;">Nama Barang</th>
              <th>Satuan</th>
              <th>Qty Request</th>
              <th>Qty Receive</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of productRequestDetailList; let i = index;">
              <td class="date-and-receipt">{{ i+1 }}</td>
              <td class="normal-text">{{ detail.product_id }}</td>
              <td class="normal-text">{{ detail.product_name }}</td>
              <td class="normal-text">Pcs</td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyRequest_'+i" [value]="detail.qty_request" readonly></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyReceive_'+i" [value]="detail.qty_receive" readonly></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="text" [id]="'description_'+i" [value]="detail.description" readonly></ion-input>
              </td>
            </tr>
          </tbody>
        </table>
        <br>

        <!-- <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">PCode</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="productId"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Nama</ion-label>
              <ion-input style="overflow-x: hidden" readonly type="text" placeholder="" formControlName="product"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Permintaan</ion-label>
              <ion-input class="ion-text-right" readonly type="number" placeholder="1" formControlName="qty"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Satuan</ion-label>
              <ion-select disabled="true" placeholder="Pilih Tipe Satuan" formControlName="typeUnit" interface="action-sheet">
                <ion-select-option *ngFor="let unit of unitType; let i = index" [value]="i">
                {{ unit }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Penerimaan</ion-label>
              <ion-input [readonly]="readonlyVal" class="ion-text-right" type="number" placeholder="1" formControlName="qtyReceive"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Keterangan</ion-label>
              <ion-input style="overflow-x: hidden" readonly type="text" placeholder="" formControlName="desc"></ion-input>
            </ion-item>
          </ion-item>
        </div> -->

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime readonly displayFormat="DD MMM, YYYY" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Courier</ion-label>
					<ion-input readonly type="text" placeholder="Courier" formControlName="courier"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input readonly type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Status</ion-label>
					<ion-input readonly type="text" placeholder="Status" formControlName="status"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <!-- <ion-button size="small" color="success" (click)="updateData()">
            <ion-icon name="save"></ion-icon>Save
          </ion-button> -->
          <ion-button *ngIf="statusName === 'Open'"
           size="small" color="success" (click)="closedDataBundle()">
            <ion-icon name="lock-closed-outline"></ion-icon>Close
          </ion-button>
				</div>

        <div class="approval-history">
          <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
          <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
          <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
          <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
        </div>
        <br>
        <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
          <div *ngFor="let approve of approvalHistoryData">
            <p><ion-icon name="remove"></ion-icon><b>Penerimaan Barang Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
          </div>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>