<ion-header>
  <ion-toolbar>
    <ion-title>Advanced Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-label position="stacked">Brand</ion-label>
        <ion-select placeholder="Pilih Brand" [(ngModel)]="brandId" interface="action-sheet">
          <ion-select-option *ngFor="let brand of brandList" [value]="brand.id">
          {{ brand.product_brand_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Divisi</ion-label>
        <ion-select placeholder="Pilih Divisi" [(ngModel)]="typeId" interface="action-sheet">
          <ion-select-option *ngFor="let type of typeList" [value]="type.id">
          {{ type.product_type_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Kategori</ion-label>
        <ion-select placeholder="Pilih Kategori" [(ngModel)]="categoryId" interface="action-sheet">
          <ion-select-option *ngFor="let category of categoryList" [value]="category.id">
          {{ category.product_category_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block" (click)="dismissModal('search')">Search</ion-button>
        <div style="padding: 5px 0 5px 0;"></div>
        <ion-button size="large" class="btn block" color="secondary" (click)="clearField()">Clear</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>