<ion-header>
  <ion-toolbar>
    <ion-title>Laporan Permintaan Barang Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    No Permintaan Barang : {{ productRequestId }} <br>
    Counter : {{ counterName }} <br>
    Gudang : {{ warehouseName }} <br>
    Tgl Dokumen : {{ docDate }} <br>
    Tgl Kebutuhan : {{ needDate }} <br>
    Status : {{ statusName }} <br>
    Deskripsi : {{ description }}
  </p>
  <table>
    <thead>
      <tr class="background-table">
        <th>PCode</th>
        <th>Nama</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody *ngIf="reportDataDetail.length > 0">
      <tr *ngFor="let detail of reportDataDetail">
        <td class="normal-text">{{ detail.product_id }}</td>
        <td class="normal-text">{{ detail.product_name }}</td>
        <td class="nominal">{{ detail.qty }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="reportDataDetail.length === 0">
      <tr>
        <td class="normal-text">Data Kosong</td>
      </tr>
    </tbody>
  </table>
</ion-content>