<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="counter"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Counter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCounterEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Cabang</ion-label>
          <ion-select placeholder="Pilih Cabang" formControlName="branchId" interface="action-sheet">
            <ion-select-option *ngFor="let branch of branchList" [value]="branch.id">
            {{ branch.branch_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Kode Counter</ion-label>
					<ion-input type="text" placeholder="Kode Counter" formControlName="counterCode"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Counter</ion-label>
					<ion-input type="text" placeholder="Nama Counter" formControlName="counterName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate" placeholder="Pilih Tanggal Transaksi" ></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Periode Stock</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="stockPeriod"></ion-datetime>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Alamat 1</ion-label>
          <ion-textarea rows="4" placeholder="Alamat 1" type="text" formControlName="firstAddress"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Alamat 2</ion-label>
          <ion-textarea rows="4" placeholder="Alamat 2" type="text" formControlName="lastAddress"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">No. Telpon</ion-label>
					<ion-input type="number" placeholder="No. Telpon" formControlName="phone"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Footer Text</ion-label>
					<ion-input type="text" placeholder="Footer Text" formControlName="footerText"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Zona Waktu</ion-label>
          <ion-select placeholder="Pilih Zona Waktu" formControlName="timezone" interface="action-sheet">
            <ion-select-option value="0">WIB (GMT +7)</ion-select-option>
            <ion-select-option value="1">WITA (GMT +8)</ion-select-option>
            <ion-select-option value="2">WIT (GMT +9)</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Status" formControlName="activeStatus" interface="action-sheet">
            <ion-select-option *ngFor="let status of statusCounter; let i = index" [value]="i">
            {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formCounterEdit.valid" (click)="updateData()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
