<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="2">
        <img src="assets/img/logo.png">
      </ion-col>
      <ion-col>
        <h2>Halo, {{ userProfile.name }}</h2>
        <br>
        <h5>Selamat Datang di Aplikasi POS. Silakan pilih menu disamping untuk mengelola aplikasi.</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <div style="overflow-x:auto;">
    <table>
      <tr class="background-table ion-text-center">
        <td rowspan="2" style="padding: 0 15px 0 15px;">No</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">PCode</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Nama_Barang</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Saldo_Awal</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Saldo_Masuk</td>
        <td colspan="2" style="padding: 6px 0 6px 0; text-align: center;">Penjualan</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Stock</td>
      </tr>
      <tr class="background-table ion-text-center">
        <td style="padding: 6px 30px 6px 30px;">Hari_Ini</td>
        <td style="padding: 6px 30px 6px 30px;">Bulan_Ini</td>
      </tr>
      <tbody>
        <div *ngIf="dataStock.length > 0; then show_data else empty_data"></div>
        <ng-template #show_data>
          <tr *ngFor="let stock of dataStock; let i = index;">
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ stock.pcode }}</td>
            <td class="normal-text">{{ stock.name }}</td>
            <td class="nominal">{{ stock.early }}</td>
            <td class="nominal">{{ stock.in }}</td>
            <td class="nominal">{{ stock.todayTransQty }}</td>
            <td class="nominal">{{ stock.monthTransQty }}</td>
            <td class="nominal">{{ stock.end }}</td>
          </tr>
        </ng-template>
        <ng-template #empty_data>
          <tr>
            <td colspan="8" class="empty-data">
              Data Kosong.
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

</ion-content>

<ion-footer no-border>
	<h6 style="padding-left: 20px;">Copyright All Reserved © 2021 By PT Victoria Care Indonesia Tbk.</h6>	
</ion-footer>