<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="master-product-packet"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Barang Paket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProductPackageCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet"
          (ionChange)="getWarehouseList($event)">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Paket Produk</ion-label>
					<ion-input type="text" placeholder="Nama Paket Produk" formControlName="productPackageName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Inisial Paket Produk</ion-label>
					<ion-input type="text" maxlength="33" placeholder="Nama Inisial" formControlName="productPackageInitialName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Barang</ion-label>
          <ion-select placeholder="Pilih Jenis Barang" formControlName="marketingTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let marketing of marketingTypeList" [value]="marketing.id">
            {{ marketing.product_marketing_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Brand</ion-label>
          <ion-select placeholder="Pilih Brand" formControlName="brandId" interface="action-sheet"
          (ionChange)="getSubBrandList($event)">
            <ion-select-option *ngFor="let brand of brandList" [value]="brand.id">
            {{ brand.product_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Brand</ion-label>
          <ion-select placeholder="Pilih Sub Brand" formControlName="subBrandId" interface="action-sheet">
            <ion-select-option *ngFor="let subBrand of subBrandList" [value]="subBrand.id">
            {{ subBrand.product_sub_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Barang</ion-label>
          <ion-select placeholder="Pilih Tipe Barang" formControlName="typeId" interface="action-sheet"
          (ionChange)="getSubTypeList($event)">
            <ion-select-option *ngFor="let type of typeList" [value]="type.id">
            {{ type.product_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Tipe Barang</ion-label>
          <ion-select placeholder="Pilih Sub Tipe Barang" formControlName="subTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let subType of subTypeList" [value]="subType.id">
            {{ subType.product_sub_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Kategori</ion-label>
          <ion-select placeholder="Pilih Kategori" formControlName="categoryId" interface="action-sheet"
          (ionChange)="getSubCategoryList($event)">
            <ion-select-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.product_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Kategori</ion-label>
          <ion-select placeholder="Pilih Sub Kategori" formControlName="subCategoryId" interface="action-sheet">
            <ion-select-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
            {{ subCategory.product_sub_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Barcode</ion-label>
          <ion-input type="number" placeholder="Barcode" formControlName="barcode"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Harga</ion-label>
          <ion-input type="number" placeholder="0" formControlName="price"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Panjang (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="length"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Lebar (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="width"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Tinggi (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="height"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Qty Alokasi</ion-label>
          <ion-input type="number" placeholder="0" formControlName="allocationQty"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Product</ion-label>
              <ionic-selectable
                formControlName="product"
                [items]="productSearch"
                itemValueField="id"
                itemTextField="product_name"
                [canSearch]="true"
                (onSearch)="searchProducts($event)">
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Harga</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty</ion-label>
              <ion-input type="number" formControlName="qty"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formProductPackageCreate.valid" (click)="inputData()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>