<ion-header>
  <ion-toolbar>
    <ion-title>Pilih Nomor Permintaan Barang</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('null')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="overflow-x:auto;">
    <table id="excel-table">
      <tr class="background-table">
        <td style="padding: 10px 10px 10px 10px;">No</td>
        <td style="padding: 10px 30px 10px 30px;">Action</td>
        <td style="padding: 10px 25px 10px 25px;">Status</td>
        <td style="padding: 10px 30px 10px 30px;">Nomor_PR</td>
        <td style="padding: 10px 30px 10px 30px;">Description</td>
        <td style="padding: 10px 30px 10px 30px;">Counter</td>
        <td style="padding: 10px 30px 10px 30px;">Warehouse</td>
        <td style="padding: 10px 25px 10px 25px;">Doc_Date</td>
        <td style="padding: 10px 25px 10px 25px;">Need_Date</td>
      </tr>
      <tbody>
        <div *ngIf="productRequestData.length > 0; then show_data else data_empty"></div>
        <ng-template #show_data>
          <tr *ngFor="let request of productRequestData; let i = index">
            <td class="normal-text">{{ i+1 }}</td>
            <td class="date-and-receipt"><ion-button *ngIf="request.status === '6'" size="small" (click)="dismissModal(request.id)">Pilih</ion-button></td>
            <td *ngIf="request.status === '0'"><div class="status-text pending">Pending</div></td>
            <td *ngIf="request.status === '1'"><div class="status-text sent">Ok</div></td>
            <td *ngIf="request.status === '2'"><div class="status-text void">Cancel</div></td>
            <td *ngIf="request.status === '3'"><div class="status-text void">Reject</div></td>
            <td *ngIf="request.status === '4'"><div class="status-text pending">Waiting</div></td>
            <td *ngIf="request.status === '5'"><div class="status-text pending">On Process</div></td>
            <td *ngIf="request.status === '6'"><div class="status-text sent">Delivery</div></td>
            <td class="normal-text">{{ request.id }}</td>
            <td class="normal-text">{{ request.desc }}</td>
            <td class="normal-text">{{ request.counter_name }}</td>
            <td class="normal-text">{{ request.warehouse_name }}</td>
            <td class="date-and-receipt">{{ request.doc_date }}</td>
            <td class="date-and-receipt">{{ request.need_date }}</td>
          </tr>
        </ng-template>
        <ng-template #data_empty>
          <tr>
            <td colspan="7" class="date-and-receipt">Data Kosong</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</ion-content>