<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="customer"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCustomerCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">Nama Customer</ion-label>
					<ion-input type="text" placeholder="Nama Customer" formControlName="customerName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nomor KTP</ion-label>
					<ion-input type="text" placeholder="Nomor KTP" formControlName="identityNumber"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nomor Handphone</ion-label>
					<ion-input type="text" placeholder="Nomor Handphone" formControlName="phone"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formCustomerCreate.valid" (click)="inputCustomer()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
