<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cetak Ulang Struk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formReprintReceipt">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">No. Struk</ion-label>
          <ion-input type="text" placeholder="No. Struk" formControlName="receiptNo"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" (click)="getReceipt()">Cetak</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
