<ion-header>
  <ion-toolbar>
    <ion-title>Advanced Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-label position="stacked">Counter</ion-label>
        <ion-select placeholder="Pilih Counter" [(ngModel)]="counterId" interface="action-sheet">
          <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
          {{ counter.counter_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tanggal Dokumen Awal</ion-label>
        <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="docDateStart" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tanggal Dokumen Akhir</ion-label>
        <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="docDateEnd" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Status</ion-label>
        <ion-select placeholder="Pilih Status" [(ngModel)]="statusId" interface="action-sheet">
          <ion-select-option *ngFor="let status of statusList; let i = index" [value]="i">
          {{ status }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block" (click)="dismissModal('search')">Search</ion-button>
        <div style="padding: 5px 0 5px 0;"></div>
        <ion-button size="large" class="btn block" color="secondary" (click)="clearField()">Clear</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>