<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="voucher"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formVoucherEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">Batch Number</ion-label>
					<ion-input type="number" placeholder="0" formControlName="batchNo" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nominal Voucher</ion-label>
					<ion-input type="number" placeholder="0" formControlName="nominal"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Mata Uang</ion-label>
          <ion-select placeholder="Pilih Mata Uang" formControlName="currencyId" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencyList" [value]="currency.foreign_currency_name">
            {{ currency.foreign_currency_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Expired</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="expiredDate" placeholder="Pilih Tanggal Expired"></ion-datetime>
        </ion-item>

        <div class="ion-padding ion-text-center">			
          <ion-button size="small" color="success"
          [disabled]="!formVoucherEdit.valid" (click)="updateVoucher()">Update</ion-button>
				</div>
      </ion-list>
    </div>

    <div class="ion-padding" *ngIf="voucherCodeList.length !== 0">
      <table id="excel-table">
        <thead>
          <tr class="background-table">
            <th style="padding: 6px 15px 6px 15px;">No</th>
            <th style="padding: 0 30px 0 30px;">Kode Voucher</th>
            <th style="padding: 0 30px 0 30px;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voucher of voucherCodeList; let i = index;">
            <td class="normal-text">{{ i+1 }}</td>
            <td class="normal-text">{{ voucher.voucher_code }}</td>
            <td *ngIf="voucher.status === '0'" class="normal-text">Belum Terpakai</td>
            <td *ngIf="voucher.status === '1'" class="normal-text">Sudah Terpakai</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</ion-content>
