<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutup Kasir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formClosedCashier">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Transaksi</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="transDate"></ion-datetime>
        </ion-item>

        <div class="ion-padding ion-text-center">
          <ion-button size="large" class="btn" (click) = "printRekap()">Rekap Transaksi</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
