<ion-header>
  <ion-toolbar>
    <ion-title>Filter Report Stock Auditrail</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-label position="stacked">Bulan</ion-label>
        <ion-select placeholder="Pilih Bulan" [(ngModel)]="monthId" interface="action-sheet">
          <ion-select-option *ngFor="let month of monthList; let i = index" [value]="i">
            {{ month }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tahun</ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="year" placeholder="Pilih Tahun"></ion-datetime>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="stacked">Counter</ion-label>
        <ion-select placeholder="Pilih Counter" [(ngModel)]="counterId" interface="action-sheet"
        (ionChange)="changeWarehouseList($event)">
          <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
          {{ counter.counter_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Gudang</ion-label>
        <ion-select placeholder="Pilih Gudang" [(ngModel)]="warehouseId" interface="action-sheet">
          <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
          {{ warehouse.warehouse_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Product</ion-label>
        <ionic-selectable
          [(ngModel)]="productId"
          [items]="productSearch"
          itemValueField="id"
          itemTextField="product_name"
          [canSearch]="true"
          (onSearch)="searchProducts($event)">
        </ionic-selectable>
      </ion-item>

      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block" [disabled]="!productId"
        (click)="dismissModal('generate')">Generate</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>