<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Kasir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-button size="block" color="warning" (click)="openAdvancedFilters()">FILTER REPORT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="transactionType">
      <ion-col size="5">
        <div class="parameter-name">Jenis Transaksi</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ transactionTypeName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="reportType">
      <ion-col size="5">
        <div class="parameter-name">Rekap Per</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ rekapPerName }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <div class="parameter-name">Periode</div>
      </ion-col>
      <ion-col size="3">
        <div class="parameter-value">{{ dateStart }}</div>
      </ion-col>
      <ion-col size="1">
        <div class="ion-padding ion-text-center">-</div>
      </ion-col>
      <ion-col size="3">
        <div class="parameter-value">{{ dateEnd }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="noReceipt !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">Nomor Struk</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ noReceipt }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeId !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">Divisi</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ typeName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="idCounter !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">Counter</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ counterName }} <ion-button *ngIf="showBtnCounterList" size="small" color="warning" (click)="showCounterList()">Click For More</ion-button></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="idCashier !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">Kassa</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ cashierName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="resellerId !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">Reseller</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ resellerName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="idUser !== 'null'">
      <ion-col size="5">
        <div class="parameter-name">User</div>
      </ion-col>
      <ion-col size="7">
        <div class="parameter-value">{{ userName }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="reportData.length > 0">
      <ion-col>
        <ion-button size="small" color="success" (click)="exportToExcel()">Export to Excel</ion-button>
        <ion-button size="small" color="danger" (click)="clearFilter()">Clear Filter</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <div style="overflow-x:auto;" *ngIf="reportType === '0'">
    <table>
      <tr class="background-table">
        <td rowspan="2" style="padding: 0 15px 0 15px;">No</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Counter</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">User</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Kassa</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">Member</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Tanggal</td>
        <td rowspan="2" style="padding: 0 20px 0 20px;">Waktu</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">NoStruk</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Total</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Disc</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Netto</td>
        <td rowspan="2" style="padding: 0 10px 0 10px;">Charge</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Tax</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">GrandTotal</td>
        <td colspan="11" style="padding: 6px 0 6px 0; text-align: center;">Pembayaran</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">TotalBayar</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Kembali</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Action</td>
      </tr>
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px;">NetTunai</td>
        <td style="padding: 0 40px 0 40px;">Tunai</td>
        <td style="padding: 0 40px 0 40px;">Kredit</td>
        <td style="padding: 0 40px 0 40px;">Debit</td>
        <td style="padding: 0 40px 0 40px;">Transfer</td>
        <td style="padding: 0 40px 0 40px;">ValasUSD</td>
        <td style="padding: 0 40px 0 40px;">ValasCNY</td>
        <td style="padding: 0 40px 0 40px;">ValasWNY</td>
        <td style="padding: 0 40px 0 40px;">Voucher</td>
        <td style="padding: 0 40px 0 40px;">MemberPoint</td>
        <td style="padding: 0 40px 0 40px;">Reward</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ report.counter_name }}</td>
            <td class="normal-text">{{ report.user_name }}</td>
            <td class="normal-text">{{ report.cashier_name }}</td>
            <td class="normal-text">{{ report.customer_name ? report.customer_name : '-' }}</td>
            <td class="date-and-receipt">{{ report.trans_date }}</td>
            <td class="date-and-receipt">{{ report.trans_time }}</td>
            <td class="date-and-receipt">{{ report.receipt_no }}</td>
            <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.discount | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
            <td class="nominal">0.00</td>
            <td class="nominal">{{ report.tax_basis | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.grand_total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.nettunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.tunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.credit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.debit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.transfer | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_usd | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_cny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_wny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.voucher | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.member_point | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.reward | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.total_bayar | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.kembali | number: '1.2-2' }}</td>
            <td class="date-and-receipt" (click)="showConfirmVoidTransaction(report.receipt_no)"><ion-button size="small">Void</ion-button></td>
          </ng-template>
          <ng-template #data_sum>
            <td colspan="8" class="data-sum-title background-table">Total Counter {{ report.counter_name }}</td>
            <td class="nominal background-table">{{ report.sum_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_discount | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
            <td class="nominal background-table">0.00</td>
            <td class="nominal background-table">{{ report.sum_tax_basis | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_grand_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_nettunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_tunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_credit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_debit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_transfer | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_usd | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_cny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_wny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_voucher | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_memberpoint | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_reward | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_total_bayar | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_kembali | number: '1.2-2' }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <table id="excel-table" style="display: none;">
      <tr class="background-table">
        <td rowspan="2" style="padding: 0 15px 0 15px;">No</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Counter</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">User</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Kassa</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">Member</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Tanggal</td>
        <td rowspan="2" style="padding: 0 20px 0 20px;">Waktu</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">NoStruk</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Total</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Disc</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Netto</td>
        <td rowspan="2" style="padding: 0 10px 0 10px;">Charge</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Tax</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">GrandTotal</td>
        <td colspan="11" style="padding: 6px 0 6px 0; text-align: center;">Pembayaran</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">TotalBayar</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Kembali</td>
      </tr>
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px;">NetTunai</td>
        <td style="padding: 0 40px 0 40px;">Tunai</td>
        <td style="padding: 0 40px 0 40px;">Kredit</td>
        <td style="padding: 0 40px 0 40px;">Debit</td>
        <td style="padding: 0 40px 0 40px;">Transfer</td>
        <td style="padding: 0 40px 0 40px;">ValasUSD</td>
        <td style="padding: 0 40px 0 40px;">ValasCNY</td>
        <td style="padding: 0 40px 0 40px;">ValasWNY</td>
        <td style="padding: 0 40px 0 40px;">Voucher</td>
        <td style="padding: 0 40px 0 40px;">MemberPoint</td>
        <td style="padding: 0 40px 0 40px;">Reward</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ report.counter_name }}</td>
            <td class="normal-text">{{ report.user_name }}</td>
            <td class="normal-text">{{ report.cashier_name }}</td>
            <td class="normal-text">{{ report.customer_name ? report.customer_name : '-' }}</td>
            <td class="date-and-receipt">{{ report.trans_date }}</td>
            <td class="date-and-receipt">{{ report.trans_time }}</td>
            <td class="date-and-receipt">{{ report.receipt_no }}</td>
            <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.discount | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
            <td class="nominal">0.00</td>
            <td class="nominal">{{ report.tax_basis | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.grand_total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.nettunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.tunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.credit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.debit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.transfer | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_usd | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_cny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_wny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.voucher | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.member_point | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.reward | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.total_bayar | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.kembali | number: '1.2-2' }}</td>
          </ng-template>
          <ng-template #data_sum>
            <td colspan="8" class="data-sum-title background-table">Total Counter {{ report.counter_name }}</td>
            <td class="nominal background-table">{{ report.sum_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_discount | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
            <td class="nominal background-table">0.00</td>
            <td class="nominal background-table">{{ report.sum_tax_basis | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_grand_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_nettunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_tunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_credit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_debit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_transfer | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_usd | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_cny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_wny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_voucher | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_memberpoint | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_reward | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_total_bayar | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_kembali | number: '1.2-2' }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto;" *ngIf="reportType === '1'">
    <table id="excel-table">
      <tr class="background-table">
        <td style="padding: 6px 15px 6px 15px;">No</td>
        <td style="padding: 0 50px 0 50px;">Counter</td>
        <td style="padding: 0 70px 0 70px;">User</td>
        <td style="padding: 0 30px 0 30px;">Kassa</td>
        <td style="padding: 0 70px 0 70px;">Member</td>
        <td style="padding: 0 15px 0 15px;">Tanggal</td>
        <td style="padding: 0 15px 0 15px;">Waktu</td>
        <td style="padding: 0 30px 0 30px;">NoStruk</td>
        <td style="padding: 0 30px 0 30px;">PCode</td>
        <td style="padding: 0 150px 0 150px;">Nama</td>
        <td style="padding: 0 20px 0 20px;">Qty</td>
        <td style="padding: 0 40px 0 40px;">Harga</td>
        <td style="padding: 0 50px 0 50px;">Bruto</td>
        <td style="padding: 0 30px 0 30px;">Disc</td>
        <td style="padding: 0 40px 0 40px;">Netto</td>
        <td style="padding: 0 10px 0 10px;">Charge</td>
        <td style="padding: 0 40px 0 40px;">Tax</td>
        <td style="padding: 0 40px 0 40px;">Total</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0' && report.id !== '00'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <div *ngIf="checkReceiptNo(report.receipt_no, i) === true; then show_it else hide_it"></div>
            <ng-template #show_it>
              <td class="normal-text">{{ report.counter_name }}</td>
              <td class="normal-text">{{ report.user_name }}</td>
              <td class="normal-text">{{ report.cashier_name }}</td>
            <td class="normal-text">{{ report.customer_name ? report.customer_name : '-' }}</td>
              <td class="date-and-receipt">{{ report.trans_date }}</td>
              <td class="date-and-receipt">{{ report.trans_time }}</td>
              <td class="date-and-receipt">{{ report.receipt_no }}</td>
            </ng-template>
            <ng-template #hide_it>
              <td class="normal-text"></td>
              <td class="date-and-receipt"></td>
              <td class="date-and-receipt"></td>
              <td class="date-and-receipt"></td>
              <td class="date-and-receipt"></td>
              <td class="date-and-receipt"></td>
              <td class="date-and-receipt"></td>
            </ng-template>
            <td class="normal-text">{{ report.PCode }}</td>
            <td class="normal-text">{{ report.product_name }}</td>
            <td class="nominal">{{ report.qty }}</td>
            <td class="nominal">{{ report.price | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.bruto | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.disc | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
            <td class="nominal">0.00</td>
            <td class="nominal">0.00</td>
            <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
          </ng-template>
          <ng-template #data_sum>
            <div *ngIf="report.id === '0'; then show_data_sum else show_data_sum_gt"></div>
            <ng-template #show_data_sum>
              <td colspan="12" class="data-sum-title background-table">Total</td>
              <td class="nominal background-table">{{ report.sum_bruto | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_discount | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_charge | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_tax | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_total | number: '1.2-2' }}</td>
            </ng-template>
            <ng-template #show_data_sum_gt>
              <td colspan="12" class="data-sum-title background-table">GrandTotal</td>
              <td class="nominal background-table">{{ report.sum_gt_bruto | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_gt_discount | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_gt_netto | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_gt_charge | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_gt_tax | number: '1.2-2' }}</td>
              <td class="nominal background-table">{{ report.sum_gt_total | number: '1.2-2' }}</td>
            </ng-template>
          </ng-template>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto;" *ngIf="reportType === '2'">
    <table id="excel-table">
      <tr class="background-table">
        <td rowspan="2" style="padding: 6px 15px 6px 15px;">No</td>               
        <td rowspan="2" style="padding: 0 30px 0 30px;">PCode</td>
        <td rowspan="2" style="padding: 0 150px 0 150px;">Nama</td>
        <td rowspan="2" style="padding: 0 20px 0 20px;">Qty</td>
        <td colspan="2" style="padding: 6px 0 6px 0; text-align: center;">Pembelian</td>
        <td colspan="4" style="text-align: center;">Penjualan</td>
        <td rowspan="2" style="padding: 0 60px 0 60px; text-align: center; background-color: green; color: white;">Laba</td>
      </tr>
    
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px;">HargaBeli</td>
        <td style="padding: 0 40px 0 40px;">Jumlah</td>
        <td style="padding: 0 40px 0 40px;">HargaJual</td>
        <td style="padding: 0 50px 0 50px;">Bruto</td>
        <td style="padding: 0 30px 0 30px;">Disc</td>
        <td style="padding: 0 50px 0 50px;">Netto</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="normal-text">{{ report.PCode }}</td>
          <td class="normal-text">{{ report.product_name }}</td>
          <td class="nominal">{{ report.qty }}</td>
          <td class="nominal">0.00</td>
          <td class="nominal">0.00</td>
          <td class="nominal">{{ report.price }}</td>
          <td class="nominal">{{ report.bruto }}</td>
          <td class="nominal">{{ report.disc }}</td>
          <td class="nominal">{{ report.netto }}</td>
          <td class="nominal-laba">{{ report.netto }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto;" *ngIf="reportType === '3'">
    <table id="excel-table">
      <tr class="background-table">
        <td style="padding: 6px 150px 6px 150px; text-align: center;">Nama Brand</td>
        <td style="padding: 0 20px 0 20px; text-align: center;">Total Qty</td>
        <td style="padding: 0 40px 0 40px; text-align: center;">Total Netto</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="normal-text">{{ report.product_name }}</td>
            <td class="nominal">{{ report.total_qty }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
          </ng-template>
          <ng-template #data_sum>
            <td class="data-sum-title background-table">{{ report.product_brand_name }}</td>
            <td class="nominal background-table">{{ report.sum_qty }}</td>
            <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto;" *ngIf="reportType === '4'">
    <table id="excel-table">
      <tr class="background-table">
        <td rowspan="2" style="padding: 6px 15px 6px 15px; text-align: center;">No</td>               
        <td rowspan="2" style="padding: 0 30px 0 30px; text-align: center;">PCode</td>
        <td rowspan="2" style="padding: 0 150px 0 150px; text-align: center;">Nama</td>
        <td rowspan="2" style="padding: 0 20px 0 20px; text-align: center;">Qty</td>
        <td colspan="2" style="padding: 6px 0 6px 0; text-align: center;">Penjualan</td>
      </tr>
    
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px; text-align: center;">HargaJual</td>
        <td style="padding: 0 50px 0 50px; text-align: center;">Netto</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="normal-text">{{ report.PCode }}</td>
          <td class="normal-text">{{ report.product_name }}</td>
          <td class="nominal">{{ report.free_qty }}</td>
          <td class="nominal">{{ report.price }}</td>
          <td class="nominal-laba">{{ report.netto }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x:auto;" *ngIf="reportType === '5'">
    <table>
      <tr class="background-table">
        <td rowspan="2" style="padding: 0 15px 0 15px;">No</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Counter</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">User</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Kassa</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">Member</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Tanggal</td>
        <td rowspan="2" style="padding: 0 20px 0 20px;">Waktu</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">NoStruk</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Total</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Disc</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Netto</td>
        <td rowspan="2" style="padding: 0 10px 0 10px;">Charge</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Tax</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">GrandTotal</td>
        <td colspan="11" style="padding: 6px 0 6px 0; text-align: center;">Pembayaran</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">TotalBayar</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Kembali</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Keterangan</td>
      </tr>
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px;">NetTunai</td>
        <td style="padding: 0 40px 0 40px;">Tunai</td>
        <td style="padding: 0 40px 0 40px;">Kredit</td>
        <td style="padding: 0 40px 0 40px;">Debit</td>
        <td style="padding: 0 40px 0 40px;">Transfer</td>
        <td style="padding: 0 40px 0 40px;">ValasUSD</td>
        <td style="padding: 0 40px 0 40px;">ValasCNY</td>
        <td style="padding: 0 40px 0 40px;">ValasWNY</td>
        <td style="padding: 0 40px 0 40px;">Voucher</td>
        <td style="padding: 0 40px 0 40px;">MemberPoint</td>
        <td style="padding: 0 40px 0 40px;">Reward</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ report.counter_name }}</td>
            <td class="normal-text">{{ report.user_name }}</td>
            <td class="normal-text">{{ report.cashier_name }}</td>
            <td class="normal-text">{{ report.customer_name ? report.customer_name : '-' }}</td>
            <td class="date-and-receipt">{{ report.trans_date }}</td>
            <td class="date-and-receipt">{{ report.trans_time }}</td>
            <td class="date-and-receipt">{{ report.receipt_no }}</td>
            <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.discount | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
            <td class="nominal">0.00</td>
            <td class="nominal">{{ report.tax_basis | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.grand_total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.nettunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.tunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.credit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.debit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.transfer | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_usd | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_cny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_wny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.voucher | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.member_point | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.reward | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.total_bayar | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.kembali | number: '1.2-2' }}</td>
            <td class="normal-text">{{ report.desc_void }}</td>
          </ng-template>
          <ng-template #data_sum>
            <td colspan="8" class="data-sum-title background-table">Total Counter {{ report.counter_name }}</td>
            <td class="nominal background-table">{{ report.sum_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_discount | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
            <td class="nominal background-table">0.00</td>
            <td class="nominal background-table">{{ report.sum_tax_basis | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_grand_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_nettunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_tunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_credit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_debit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_transfer | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_usd | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_cny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_wny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_voucher | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_memberpoint | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_reward | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_total_bayar | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_kembali | number: '1.2-2' }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <table id="excel-table" style="display: none;">
      <tr class="background-table">
        <td rowspan="2" style="padding: 0 15px 0 15px;">No</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Counter</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">User</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">Kassa</td>
        <td rowspan="2" style="padding: 0 70px 0 70px;">Member</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Tanggal</td>
        <td rowspan="2" style="padding: 0 20px 0 20px;">Waktu</td>
        <td rowspan="2" style="padding: 0 30px 0 30px;">NoStruk</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Total</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Disc</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Netto</td>
        <td rowspan="2" style="padding: 0 10px 0 10px;">Charge</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">Tax</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">GrandTotal</td>
        <td colspan="11" style="padding: 6px 0 6px 0; text-align: center;">Pembayaran</td>
        <td rowspan="2" style="padding: 0 40px 0 40px;">TotalBayar</td>
        <td rowspan="2" style="padding: 0 25px 0 25px;">Kembali</td>
        <td rowspan="2" style="padding: 0 50px 0 50px;">Keterangan</td>
      </tr>
      <tr class="background-table">
        <td style="padding: 6px 40px 6px 40px;">NetTunai</td>
        <td style="padding: 0 40px 0 40px;">Tunai</td>
        <td style="padding: 0 40px 0 40px;">Kredit</td>
        <td style="padding: 0 40px 0 40px;">Debit</td>
        <td style="padding: 0 40px 0 40px;">Transfer</td>
        <td style="padding: 0 40px 0 40px;">ValasUSD</td>
        <td style="padding: 0 40px 0 40px;">ValasCNY</td>
        <td style="padding: 0 40px 0 40px;">ValasWNY</td>
        <td style="padding: 0 40px 0 40px;">Voucher</td>
        <td style="padding: 0 40px 0 40px;">MemberPoint</td>
        <td style="padding: 0 40px 0 40px;">Reward</td>
      </tr>
      <tbody>
        <tr *ngFor="let report of reportData; let i = index;">
          <div *ngIf="report.id !== '0'; then data_report else data_sum"></div>
          <ng-template #data_report>
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">{{ report.counter_name }}</td>
            <td class="normal-text">{{ report.user_name }}</td>
            <td class="normal-text">{{ report.cashier_name }}</td>
            <td class="normal-text">{{ report.customer_name ? report.customer_name : '-' }}</td>
            <td class="date-and-receipt">{{ report.trans_date }}</td>
            <td class="date-and-receipt">{{ report.trans_time }}</td>
            <td class="date-and-receipt">{{ report.receipt_no }}</td>
            <td class="nominal">{{ report.total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.discount | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.netto | number: '1.2-2' }}</td>
            <td class="nominal">0.00</td>
            <td class="nominal">{{ report.tax_basis | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.grand_total | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.nettunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.tunai | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.credit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.debit_card | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.transfer | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_usd | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_cny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.valas_wny | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.voucher | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.member_point | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.reward | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.total_bayar | number: '1.2-2' }}</td>
            <td class="nominal">{{ report.kembali | number: '1.2-2' }}</td>
            <td class="normal-text">{{ report.desc_void }}</td>
          </ng-template>
          <ng-template #data_sum>
            <td colspan="8" class="data-sum-title background-table">Total Counter {{ report.counter_name }}</td>
            <td class="nominal background-table">{{ report.sum_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_discount | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_netto | number: '1.2-2' }}</td>
            <td class="nominal background-table">0.00</td>
            <td class="nominal background-table">{{ report.sum_tax_basis | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_grand_total | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_nettunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_tunai | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_credit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_debit | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_transfer | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_usd | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_cny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_valas_wny | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_voucher | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_memberpoint | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_reward | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_total_bayar | number: '1.2-2' }}</td>
            <td class="nominal background-table">{{ report.sum_kembali | number: '1.2-2' }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
