<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="8">
        <ion-input [(ngModel)]="keyword" id="inputKeyword" type="text" placeholder="Nama Barang/PCode/Barcode" style=" border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="search()">Cari</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let product of products" (click)="chooseProduct(product.id)">
    <ion-label>
      <h2>{{ product.id }} - {{ product.product_name }}</h2>
      <h2>Rp {{ product.price }}</h2>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>