<ion-header>
  <ion-toolbar>
    <ion-title>Ubah Harga</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-row style="padding-left: 20px;">
      <ion-col size="3">
        <ion-label>PCode</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="productId" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 20px;">
      <ion-col size="3">
        <ion-label>Nama Product</ion-label>
      </ion-col>
      <ion-col size="8">  
        <ion-input [(ngModel)]="productName" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 20px;">
      <ion-col size="3">
        <ion-label>Harga Awal</ion-label>
      </ion-col>
      <ion-col size="8">  
        <ion-input [(ngModel)]="productPrice" type="text" placeholder="" readonly
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 20px;">
      <ion-col size="3">
        <ion-label>Harga Baru</ion-label>
      </ion-col>
      <ion-col size="8">  
        <ion-input [(ngModel)]="newProductPrice" type="number" placeholder="0"
          style="border: 1px solid #ccc; border-radius: 16px; outline: none;"></ion-input>
      </ion-col>
    </ion-row>

    <div class="ion-padding ion-text-center">					
      <ion-button size="small" (click)="dismissModal()">Simpan</ion-button>
    </div>
  </ion-list>
</ion-content>