<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formUserEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Username</ion-label>
          <ion-input type="text" placeholder="Username" formControlName="username" disabled="true"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" placeholder="Email" formControlName="email" disabled="true"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nama</ion-label>
          <ion-input type="text" placeholder="Nama" formControlName="name"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Role</ion-label>
          <ion-select placeholder="Pilih Role" formControlName="roleId" interface="action-sheet">
            <ion-select-option *ngFor="let role of roleData" [value]="role.id">
            {{ role.role_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Hak Akses</ion-label>
          <ion-select placeholder="Pilih Hak Akses" formControlName="accessId" interface="action-sheet"
          (ionChange)="checkAccess()">
            <ion-select-option value="0">All</ion-select-option>
            <ion-select-option value="1">Cabang</ion-select-option>
            <ion-select-option value="2">Counter</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">
          <div class="access-information">
            <p *ngIf="accessId === '0'">
              Mendapatkan akses untuk seluruh data.</p>
            <p *ngIf="accessId === '1'">
              Mendapatkan akses data milik Counter yang berada dibawah Cabang yang dipilih.</p>
            <p *ngIf="accessId === '2'">
              Mendapatkan akses data untuk salah satu Counter yang dipilih.</p>
          </div>
        </div>

        <ion-item lines="none" *ngIf="accessId === '2'">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" *ngIf="accessId === '1'">
          <ion-label position="stacked">Cabang</ion-label>
          <ion-select placeholder="Pilih Cabang" formControlName="branchId" interface="action-sheet">
            <ion-select-option *ngFor="let branch of branchData" [value]="branch.id">
            {{ branch.branch_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formUserEdit.valid" (click)="updateData()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
