<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-receiving"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Penerimaan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProductReceivingCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nomor Permintaan Barang</ion-label>
          <ion-input type="text" placeholder="Nomor Permintaan Barang" formControlName="productRequestId" [(ngModel)]="productRequestNumber" readonly></ion-input>
        </ion-item>

        <ion-button expand="block" color="warning" (click)="openAdvancedFilters()">Pilih Nomor Permintaan Barang</ion-button>
        <br>

        <div class="ion-padding ion-text-center" *ngIf="productRequestDetails.length > 0">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <table class="ion-padding" *ngIf="productRequestDetails.length > 0">
          <thead>
            <tr class="background-table">
              <th style="padding: 6px 0 6px 0;">No</th>
              <th>Action</th>
              <th>PCode</th>
              <th style="padding: 0 150px 0 150px;">Nama Barang</th>
              <th>Satuan</th>
              <th>Qty Request</th>
              <th>Qty Receive</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of productRequestDetailList; let i = index;">
              <td class="date-and-receipt">{{ i+1 }}</td>
              <td class="date-and-receipt">
                <ion-button shape="round" size="small" color="success" (click)="findProduct(i)">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button shape="round" size="small" color="danger" (click)="deleteProduct(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </td>
              <td class="normal-text">{{ detail.product_id }}</td>
              <td class="normal-text">{{ detail.product_name }}</td>
              <td class="normal-text">Pcs</td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyRequest_'+i" [value]="detail.qty_request" readonly></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyReceive_'+i" [value]="detail.qty_receive"></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="text" [id]="'description_'+i" [value]="detail.description" placeholder="Deskripsi"></ion-input>
              </td>
            </tr>
          </tbody>
        </table>
        <br>

        <!-- <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Product</ion-label>
              <ionic-selectable
                formControlName="product"
                [items]="productSearch"
                itemValueField="id"
                itemTextField="product_name"
                [canSearch]="true"
                (onSearch)="searchProducts($event)">
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty Request</ion-label>
              <ion-input type="number" placeholder="1" formControlName="qty" readonly></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Satuan</ion-label>
              <ion-select placeholder="Pilih Tipe Satuan" formControlName="typeUnit" interface="action-sheet">
                <ion-select-option *ngFor="let unit of unitType; let i = index" [value]="i">
                {{ unit }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty Receive</ion-label>
              <ion-input type="number" placeholder="1" formControlName="qtyReceive"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Keterangan</ion-label>
              <ion-input type="text" placeholder="Keterangan" formControlName="desc"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div> -->

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Courier</ion-label>
					<ion-input type="text" placeholder="Courier" formControlName="courier"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formProductReceivingCreate.valid" (click)="inputBundle()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>