<!-- <ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>POS</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header> -->

<ion-content class="bg_color2">
  <ion-grid class="ntable">
    <ion-row>
      <ion-col size="8" class="td1">
        <ion-card class="card-large-2">
          <ion-grid class="full-table">
            <ion-row style="background-color: #FFCD00; font-weight: bold;">
              <ion-col>
                Kassa : {{ currentCashierName }}
              </ion-col>
              <ion-col>
                Kasir : {{ currentUsername }}
              </ion-col>
              <ion-col>
                Tanggal : {{ currentTransDate }}
              </ion-col>
              <ion-col>
                Jam : {{ currentTimezone }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="11" style="padding: 10px 0px 8px 30px; margin-bottom: 20px;">
                <ion-label position="stacked">Barcode Number</ion-label>
                <input id="inputBarcode" style="width: 100%;height:40px;border: 1px solid #FDB915; border-radius: 16px; outline: none; padding: 10px;" autocomplete="off"
                  placeholder="Scan Barcode Here" [(ngModel)]="productBarcode" (keyup.enter)="getProduct(productBarcode)">
              </ion-col>
              <ion-col size="1">
                <ion-label position="stacked">&nbsp;</ion-label>
                <!-- <ion-auto-complete [dataProvider]="completePluginService" [(ngModel)]="productId" (keyup.enter)="getProduct(productId)"></ion-auto-complete> -->
                <ion-button (click)="openSearchProduct()">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row style="background-color: #00FFEC; font-weight: bold;">
              <ion-col size="5">Total Item: {{ totalItem }}</ion-col>
              <ion-col size="5">Total: {{ totalPayment }}</ion-col>
              <ion-col size="2">Point: {{ rewards.downline.pointMutation.point }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <ion-grid>
                  <ion-row style="border-top: 1px solid #FDB915; border-bottom: 1px solid #FDB915;">
                    <ion-col size="1">No</ion-col>
                    <ion-col size="2">Barcode</ion-col>
                    <ion-col size="3">Item</ion-col>
                    <ion-col size="1">Qty</ion-col>
                    <ion-col size="1">Free</ion-col>
                    <ion-col size="1">Harga</ion-col>
                    <ion-col size="1">Disc</ion-col>
                    <ion-col size="1">Disc%</ion-col>
                    <ion-col size="1">Netto</ion-col>
                  </ion-row>
                  <div *ngIf="productSales.length > 0" class="large-2" id="item" style="font-size: 14px;">
                    <ion-row class="cursor-click" *ngFor="let product of productSales; let i = index" (click)="openEditProductSales(product)">
                      <ion-col size="1">{{ i+1 }}</ion-col>
                      <ion-col size="2">{{ product.barcode }}</ion-col>
                      <ion-col size="3">{{ product.name }}</ion-col>
                      <ion-col size="1">{{ product.qty }}</ion-col>
                      <ion-col size="1">{{ product.qtyFree }}</ion-col>
                      <ion-col size="1">{{ product.price }}</ion-col>
                      <ion-col size="1">{{ product.valPromoNominal }}</ion-col>
                      <ion-col size="1">{{ product.valPromoPercentage }} %</ion-col>
                      <ion-col size="1">{{ product.nett }}</ion-col>
                    </ion-row>
                  </div>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="td2 ">
        <ion-card>
          <ion-grid class="full-table">
            <ion-row>
              <ion-col>
                <ion-grid class="full-table">
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Diskon</ion-col>
                    <ion-col size="9">
                      <ion-input style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"
                      [(ngModel)]="transactionDiscount" (ngModelChange) ="getTotalAfterDiscount(transactionDiscount)"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Tunai</ion-col>
                    <ion-col size="9">
                      <ion-input style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"
                      [(ngModel)]="customerCash" (ngModelChange) ="getChangeNominal()"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Transfer</ion-col>
                    <ion-col size="9">
                      <ion-input style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"
                      [(ngModel)]="customerTransfer" (ngModelChange) ="getChangeNominal()"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Kredit</ion-col>
                    <ion-col size="4">
                      <ion-select placeholder="Select" interface="popover" [(ngModel)]="customerCreditId"
                      (ngModelChange) ="getCreditName()">
                        <ion-select-option *ngFor="let credit of creditBankList"
                        [value]="credit.id">{{ credit.payment_name }}</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"
                      [(ngModel)]="customerCredit" (ngModelChange) ="getChangeNominal()"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Debit</ion-col>
                    <ion-col size="4">
                      <ion-select placeholder="Select" interface="popover" [(ngModel)]="customerDebitId"
                      (ngModelChange) ="getDebitName()">
                        <ion-select-option *ngFor="let debit of debitBankList"
                        [value]="debit.id">{{ debit.payment_name }}</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"
                      [(ngModel)]="customerDebit" (ngModelChange) ="getChangeNominal()"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">EDC</ion-col>
                    <ion-col size="9">
                      <ion-select interface="popover" placeholder="Select" [(ngModel)]="edcId">
                        <ion-select-option *ngFor="let edc of edcMachineList"
                        [value]="edc.id">{{ edc.edc_name }}</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3"></ion-col>
                    <ion-col size="9">
                      <ion-button size="small" color="danger" (click)="clearNonCash()">Clear</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-button size="small" color="primary" (click)="openVoucher()">Voucher</ion-button>
                    </ion-col>
                    <ion-col size="8">
                      <ion-input [(ngModel)]="voucherValue" style="border: 1px solid #FDB915; border-radius: 16px;" 
                      type="number" class="ion-text-right" readonly></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-button size="small" color="success" (click)="openMemberReseller()">Member<br>Reseller</ion-button>
                    </ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="memberPhone" style="border: 1px solid #FDB915; border-radius: 16px;" type="text" readonly></ion-input>
                    </ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="memberPointValue" class="ion-text-right"
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" readonly></ion-input>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row>
                    <ion-col size="4">
                      Sisa Reward
                    </ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="rewards.downline.reward.sisa" class="ion-text-right"
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" readonly></ion-input>
                    </ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="rewards.downline.reward.pakai" class="ion-text-right" (ngModelChange) ="getChangeNominal()"
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" [readonly]="rewards.downline.reward.readonlyPakai"></ion-input>
                    </ion-col>
                  </ion-row> -->
                  <ion-row>
                    <ion-col size="4"></ion-col>
                    <ion-col size="4"></ion-col>
                    <ion-col size="4">
                      <ion-button size="small" color="warning" (click)="showOtherPayment()">Payment Lain</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="otherPayment">
              <ion-col>
                <ion-grid class="full-table">
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Valas USD</ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="exchangeRateUSD" style="border: 1px solid #FDB915; border-radius: 16px;" 
                      type="number" class="ion-text-right" readonly></ion-input>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input [(ngModel)]="valueUSD" (ngModelChange) ="getChangeNominal()" 
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Valas CNY</ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="exchangeRateCNY" style="border: 1px solid #FDB915; border-radius: 16px;" 
                      type="number" class="ion-text-right" readonly></ion-input>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input [(ngModel)]="valueCNY" (ngModelChange) ="getChangeNominal()"
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Valas WeChat</ion-col>
                    <ion-col size="4">
                      <ion-input [(ngModel)]="exchangeRateWeChat" style="border: 1px solid #FDB915; border-radius: 16px;"
                      type="number" class="ion-text-right" readonly></ion-input>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input [(ngModel)]="valueWeChat" (ngModelChange) ="getChangeNominal()"
                      style="border: 1px solid #FDB915; border-radius: 16px;" type="number" class="ion-text-right"></ion-input>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Kurs Kembali</ion-col>
                    <ion-col size="9">
                      <ion-select placeholder="Pilih Mata Uang" interface="action-sheet" [(ngModel)]="foreignCurrencyId" (ngModelChange) ="getForeignCurrencyName()">
                        <ion-select-option *ngFor="let currency of foreignCurrencyList" [value]="currency.id">
                        {{ currency.foreign_currency_name }}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row> -->
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-grid class="full-table">
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Total Bayar</ion-col>
                    <ion-col size="9" class="ion-text-right">{{ totalCustomerPay }}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3" style="border-right: 1px solid;">Kembali Rp</ion-col>
                    <ion-col size="9" class="ion-text-right">{{ totalChange }}</ion-col>
                  </ion-row>
                  <ion-row *ngIf="otherPayment">
                    <ion-col size="3" style="border-right: 1px solid;">Kembali USD</ion-col>
                    <ion-col size="9" class="ion-text-right">{{ totalChangeUSD }}</ion-col>
                  </ion-row>
                  <ion-row *ngIf="otherPayment">
                    <ion-col size="3" style="border-right: 1px solid;">Kembali CNY</ion-col>
                    <ion-col size="9" class="ion-text-right">{{ totalChangeCNY }}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-grid class="full-table">
                  <ion-row>
                    <ion-col size="12">
                      <ion-button size="small" color="success" (click)="checkValidation()" [disabled]="buttonDisabled">Complete</ion-button>
                      <ion-button size="small" color="danger" (click)="clearTransaction()" [disabled]="buttonDisabled">Cancel</ion-button>
                      <ion-button size="small" color="warning" (click)="rePrintReceipt()" [disabled]="buttonDisabled">Struk Terakhir</ion-button>
                      <ion-button size="small" color="primary" (click)="setPaperPrintReceipt()" [disabled]="buttonDisabled">Set</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="warning">
      <ion-menu-button></ion-menu-button>
		</ion-fab-button>
  </ion-fab>
</ion-content>