<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="purpose"></ion-back-button>
    </ion-buttons>
    <ion-title>Purpose Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPurposeEdit">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">Nama Purpose</ion-label>
					<ion-input type="text" placeholder="Nama Purpose" formControlName="purposeName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Status" formControlName="activeStatus" interface="action-sheet">
            <ion-select-option *ngFor="let status of statusPurpose; let i = index" [value]="i">
            {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPurposeEdit.valid" (click)="updatePurpose()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
