.ntable {
	width: 100%;
	height: 100%;

}

.bg-new {
	background-color: #f3f4f8 !important;

}

.full-table {
	width: 100%;
}

.td1 {
	vertical-align: top;
}

.td2 {
	vertical-align: middle;

}

.card-scroll {
	height: 300px;
	overflow-y: scroll;
}

.card1 {
	padding-top:0.3rem !important;
	padding-bottom:0.3rem !important;
}

.font-bold {
	font-weight: bold;
}

.font-10 {
	font-size: 10px !important;
	padding-top: 6px;
	padding-bottom: 6px;
}

ion-input { 
	height: 35px;
}

ion-label.label-stacked {
	color: var(--text-black) !important;
	margin: 0;
	font-size: 1.1rem;
	letter-spacing: 0;
	font-weight: 700;
	margin-bottom: 12px;
	max-width: 100% !important;
	width: 100% !important;
	display: block;
	flex: unset;
	transform: unset !important;
}

ion-auto-complete {
	width: 32vw;
	padding-left: 15px;
	padding-top: 34px;
}

.large-2 {
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

.card-large-2 {
	width: 100%;
	height: 550px;
}

.large-2::-webkit-scrollbar-track {
	padding: 2px 0;
}

.large-2::-webkit-scrollbar {
	width: 10px;
}

.large-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.cursor-click { 
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
