<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="warehouse-mutation-out"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Keluar Gudang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formWarehouseMutationDetail">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">No. Dokumen</ion-label>
					<ion-input readonly type="text" placeholder="" formControlName="warehouseMutationId"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter Asal</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="fromCounterId" interface="action-sheet"
          [disabled]="true">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang Asal</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="fromWarehouseId" interface="action-sheet"
          [disabled]="true">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter Tujuan</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="toCounterId" interface="action-sheet"
          [disabled]="true">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang Tujuan</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="toWarehouseId" interface="action-sheet"
          [disabled]="true">
            <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Mutasi</ion-label>
          <ion-select placeholder="Pilih Tipe Mutasi" formControlName="mutationTypeId" interface="action-sheet"
          [disabled]="true">
            <ion-select-option *ngFor="let type of mutationTypeList" [value]="type.id">
            {{ type.warehouse_mutation_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input readonly type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Status</ion-label>
					<ion-input readonly type="text" placeholder="Status" formControlName="status" readonly></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">PCode</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="productId"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Nama</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="product"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty</ion-label>
              <ion-input class="ion-text-right" readonly type="number" placeholder="1" formControlName="qty"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Deskripsi</ion-label>
              <ion-input readonly type="text" placeholder="Deskripsi" formControlName="descDetail"></ion-input>
            </ion-item>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center" *ngIf="statusMutation === '0'">
          <ion-button *ngIf="roleName === 'TEAM_LEADER' && roleAccess.approve === '1'"
           size="small" color="success" (click)="saveUpdate('1')">
            <ion-icon name="checkmark-done-circle"></ion-icon>Approved
          </ion-button>
          <ion-button *ngIf="roleName === 'TEAM_LEADER' && roleAccess.delete === '1'"
           size="small" color="warning" (click)="saveUpdate('2')">
            <ion-icon name="lock-closed"></ion-icon>Void
          </ion-button>
          <ion-button *ngIf="roleName === 'TEAM_LEADER' && roleAccess.delete === '1'"
           size="small" color="danger" (click)="saveUpdate('3')">
            <ion-icon name="close-circle"></ion-icon>Reject
          </ion-button>
				</div>

        <div class="approval-history">
          <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
          <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
          <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
          <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
        </div>
        <br>
        <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
          <div *ngFor="let approve of approvalHistoryData">
            <p *ngIf="approve.status === '0' && approve.remark === 'MUTATION_OUT'"><ion-icon name="remove"></ion-icon><b>Keluar Gudang Pending</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '0' && approve.remark === 'MUTATION_IN'"><ion-icon name="remove"></ion-icon><b>Masuk Gudang Pending</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '1' && approve.remark === 'MUTATION_OUT'"><ion-icon name="remove"></ion-icon><b>Keluar Gudang Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '1' && approve.remark === 'MUTATION_IN'"><ion-icon name="remove"></ion-icon><b>Masuk Gudang Approved</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '2' && approve.remark === 'MUTATION_OUT'"><ion-icon name="remove"></ion-icon><b>Keluar Gudang Void</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '2' && approve.remark === 'MUTATION_IN'"><ion-icon name="remove"></ion-icon><b>Masuk Gudang Void</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '3' && approve.remark === 'MUTATION_OUT'"><ion-icon name="remove"></ion-icon><b>Keluar Gudang Rejected</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
            <p *ngIf="approve.status === '3' && approve.remark === 'MUTATION_IN'"><ion-icon name="remove"></ion-icon><b>Masuk Gudang Rejected</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
          </div>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>
