<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="petty-cash-category"></ion-back-button>
    </ion-buttons>
    <ion-title>Petty Cash Category Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPettyCashCategoryEdit">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">Nama Kategori Petty Cash</ion-label>
					<ion-input type="text" placeholder="Nama" formControlName="nmKatPettyCash"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked">Status</ion-label>
          <ion-select placeholder="Pilih Kas Bank" formControlName="active" interface="action-sheet">
            <ion-select-option *ngFor="let active of activeList" [value]="active.id">
            {{ active.name }}
            </ion-select-option>
          </ion-select>
        </ion-item> 

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPettyCashCategoryEdit.valid" (click)="updatePettyCashCategory()">Update</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
