<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="master-product-packet"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Barang Paket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formProductPackageEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">PCode</ion-label>
					<ion-input readonly type="text" placeholder="" formControlName="productPackageId"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Paket Produk</ion-label>
					<ion-input type="text" placeholder="Nama Paket Produk" formControlName="productPackageName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Inisial Paket Produk</ion-label>
					<ion-input type="text" maxlength="33" placeholder="Nama Inisial" formControlName="productPackageInitialName"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Barang</ion-label>
          <ion-select placeholder="Pilih Jenis Barang" formControlName="marketingTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let marketing of marketingTypeList" [value]="marketing.id">
            {{ marketing.product_marketing_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Brand</ion-label>
          <ion-select placeholder="Pilih Brand" formControlName="brandId" interface="action-sheet">
            <ion-select-option *ngFor="let brand of brandList" [value]="brand.id">
            {{ brand.product_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Brand</ion-label>
          <ion-select placeholder="Pilih Sub Brand" formControlName="subBrandId" interface="action-sheet">
            <ion-select-option *ngFor="let subBrand of subBrandList" [value]="subBrand.id">
            {{ subBrand.product_sub_brand_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Type</ion-label>
          <ion-select placeholder="Pilih Type" formControlName="typeId" interface="action-sheet">
            <ion-select-option *ngFor="let type of typeList" [value]="type.id">
            {{ type.product_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Type</ion-label>
          <ion-select placeholder="Pilih Sub Type" formControlName="subTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let subType of subTypeList" [value]="subType.id">
            {{ subType.product_sub_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Category</ion-label>
          <ion-select placeholder="Pilih Category" formControlName="categoryId" interface="action-sheet">
            <ion-select-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.product_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Sub Category</ion-label>
          <ion-select placeholder="Pilih Sub Category" formControlName="subCategoryId" interface="action-sheet">
            <ion-select-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
            {{ subCategory.product_sub_category_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Barcode</ion-label>
          <ion-input type="number" placeholder="Barcode" formControlName="barcode"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Harga</ion-label>
          <ion-input type="number" placeholder="0" formControlName="price"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Panjang (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="length"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Lebar (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="width"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Ukuran Tinggi (Cm)</ion-label>
          <ion-input type="number" placeholder="0" formControlName="height"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">PCode</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="productId"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Nama</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="product"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Harga</ion-label>
              <ion-input class="ion-text-right" readonly type="number" formControlName="price"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty</ion-label>
              <ion-input class="ion-text-right" readonly type="number" formControlName="qty"></ion-input>
            </ion-item>
          </ion-item>
        </div>

        <div class="approval-history">
          <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
          <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
          <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
          <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
        </div>
        <!-- <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formProductPackageCreate.valid" (click)="inputData()">Input</ion-button>
				</div> -->
      </ion-list>
    </div>
  </form>
</ion-content>