<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="promotions"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Promosi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPromotionDetailEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">Counter</ion-label>
					<ion-input readonly type="text" placeholder="Nama Counter" formControlName="counterName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Gudang</ion-label>
					<ion-input readonly type="text" placeholder="Nama Gudang" formControlName="warehouseName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Promosi</ion-label>
					<ion-input readonly type="text" placeholder="Nama Promosi" formControlName="promotionName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Tipe Promosi</ion-label>
					<ion-input readonly type="text" placeholder="Tipe Promosi" formControlName="promotionType"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item style="display: none;" lines="none">
              <ion-label position="stacked">Promotion Detail Id</ion-label>
              <ion-input type="text" formControlName="detailId"></ion-input>
            </ion-item>

            <ion-item lines="none" [ngClass]="checkPromo('value')">
              <ion-label position="stacked">Product</ion-label>
              <ionic-selectable
                formControlName="product"
                [items]="productSearch"
                itemValueField="id"
                itemTextField="product_name"
                [canSearch]="true"
                (onSearch)="searchProducts($event, i)"
                (onChange)="productChange($event, i)">
              </ionic-selectable>
            </ion-item>

            <ion-item [ngClass]="checkPromo('free_item_nominal')" lines="none">
              <ion-label position="stacked">Min. Total Belanja</ion-label>
              <ion-input type="number" placeholder="1" formControlName="minTotalTrans"></ion-input>
            </ion-item>

            <ion-item [ngClass]="checkPromo('free_item_item')" lines="none">
              <ion-label position="stacked">Product Scan</ion-label>
              <div>{{ productScanDisplay[i] }}</div>
              <ion-button size="small" color="secondary" (click)="openPromotionDetail(i, 'product')">Buka</ion-button>
            </ion-item>

            <ion-item [ngClass]="checkPromo('free_item_item_nominal')" lines="none">
              <ion-label position="stacked">Product Hadiah</ion-label>
              <div>{{ productFreeItemDisplay[i] }}</div>
              <ion-button size="small" color="secondary" (click)="openPromotionDetail(i, 'bonus')">Buka</ion-button>
            </ion-item>

            <ion-item [ngClass]="checkPromo('value')" lines="none">
              <ion-label position="stacked">Diskon</ion-label>
              <ion-input type="number" placeholder="1" formControlName="value"></ion-input>
            </ion-item>

            <ion-item [ngClass]="checkPromo('value_free_item_item')" lines="none">
              <ion-label position="stacked">Min. Beli</ion-label>
              <ion-input type="number" placeholder="1" formControlName="minBuy"></ion-input>
            </ion-item>

            <ion-item [ngClass]="checkPromo('free_item_item_nominal')" lines="none">
              <ion-label position="stacked">Qty Hadiah</ion-label>
              <ion-input type="number" placeholder="1" formControlName="freeQty"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Kelipatan</ion-label>
              <ion-select placeholder="Pilih Berlaku Kelipatan" formControlName="multipleFlag" interface="action-sheet">
                <ion-select-option value="0">Tidak</ion-select-option>
                <ion-select-option value="1">Ya</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPromotionDetailEdit.valid" (click)="validateInput()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
