<ion-header>
  <ion-toolbar>
    <ion-title>Product List</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal(null)">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-input [(ngModel)]="productParam" (keyup.enter)="searchProduct()" placeholder="Isi PCode atau Nama Product, kemudian tekan Enter" type="text" style="border: 1px solid #ccc; border-radius: 16px; outline: none;" autofocus="true"></ion-input>
      </ion-col>
    </ion-row>
  </ion-list>
  <div class="form">
    <ion-list lines="none">
      <ion-item lines="none" *ngFor="let product of productSearch" (click)="dismissModal(product)">
        <ion-label position="stacked">{{ product.id }}</ion-label>
        <ion-input readonly type="text" [value]="product.product_name"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>