<ion-header>
  <ion-toolbar>
    <ion-title>Filter Report Penerimaan Barang</ion-title>
    <ion-buttons slot="end">
      <ion-button class="transform-none" (click)="dismissModal('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-label position="stacked">Nomor Penerimaan Barang</ion-label>
        <ion-input type="text" placeholder="Nomor Penerimaan Barang" [(ngModel)]="productReceivingId"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Nomor Permintaan Barang</ion-label>
        <ion-input type="text" placeholder="Nomor Permintaan Barang" [(ngModel)]="productRequestId"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Counter</ion-label>
        <ion-select placeholder="Pilih Counter" [(ngModel)]="counterId" interface="action-sheet"
        (ionChange)="changeWarehouseList($event)">
          <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
          {{ counter.counter_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Gudang</ion-label>
        <ion-select placeholder="Pilih Gudang" [(ngModel)]="warehouseId" interface="action-sheet">
          <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
          {{ warehouse.warehouse_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="stacked">Tanggal Dokumen</ion-label>
        <ion-row>
          <ion-col class="ion-padding">
            <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="docDateStart" placeholder="Pilih Tanggal Dokumen Awal"></ion-datetime>
          </ion-col>
          <ion-col class="ion-padding">s/d</ion-col>
          <ion-col class="ion-padding">
            <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="docDateEnd" placeholder="Pilih Tanggal Dokumen Akhir"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-item>

      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block"
        (click)="dismissModal('generate')">Generate</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>