<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Masuk Gudang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" (click)="openAdvancedFilters()">Advanced Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="No Dokumen" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Counter Asal" prop="from_counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.from_counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gudang Asal" prop="from_warehouse_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.from_warehouse_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Counter Tujuan" prop="to_counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.to_counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gudang Tujuan" prop="to_warehouse_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.to_warehouse_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipe Mutasi" prop="warehouse_mutation_type_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.warehouse_mutation_type_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status Terima" prop="receive_status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div [ngClass]="checkStatus(row.receive_status)">{{ warehouseMutationStatusList[row.receive_status] }}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToUpdatePage(row.id)">
            <ion-icon name="document-text"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
