<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="warehouse-mutation-out"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Keluar Gudang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formWarehouseMutationCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter Asal</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="fromCounterId" interface="action-sheet"
          (ionChange)="getWarehouseList($event, 'from')">
            <ion-select-option *ngFor="let counter of fromCounterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang Asal</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="fromWarehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of fromWarehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Counter Tujuan</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="toCounterId" interface="action-sheet"
          (ionChange)="getWarehouseList($event, 'to')">
            <ion-select-option *ngFor="let counter of toCounterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang Tujuan</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="toWarehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of toWarehouseList" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Mutasi</ion-label>
          <ion-select placeholder="Pilih Tipe Mutasi" formControlName="mutationTypeId" interface="action-sheet">
            <ion-select-option *ngFor="let type of mutationTypeList" [value]="type.id">
            {{ type.warehouse_mutation_type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <div formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Product</ion-label>
              <ionic-selectable
                formControlName="product"
                [items]="productSearch"
                itemValueField="id"
                itemTextField="product_name"
                [canSearch]="true"
                (onSearch)="searchProducts($event)">
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Qty</ion-label>
              <ion-input type="number" placeholder="1" formControlName="qty"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Deskripsi</ion-label>
              <ion-input type="text" placeholder="Deskripsi" formControlName="descDetail"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formWarehouseMutationCreate.valid" (click)="inputData()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>