<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="price-group"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Group Harga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPriceGroupCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tipe Grup</ion-label>
          <ion-select placeholder="Pilih Tipe Grup" formControlName="priceGroupType" interface="action-sheet">
            <ion-select-option *ngFor="let type of priceGroupTypeList" [value]="type.id">
            {{ type.type_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <input style="width: 100%; height:40px; border: 1px solid #ccc; border-radius: 16px;
            outline: none; padding: 7px;" type="file" (change)="onFileSelect($event)" #uploadFileInput>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="!formPriceGroupCreate.valid" color="secondary" (click)="uploadFile()">Upload</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="priceGroupDetailData.length > 0" size="small" color="success"
              (click)="exportToExcel()">Export to Excel</ion-button>
          </ion-col>
          <ion-col class="ion-text-right">
            <input type="text" placeholder="Search..." formControlName="keywordSearch" (keyup.enter)="searchProduct()">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ngx-datatable 
      class="material"
      [limit]="10" 
      [rows]="rows" 
      [rowHeight]="60"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="60" 
      [footerHeight]="60">
      <ngx-datatable-column name="PCode" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama" prop="product_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Harga" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div (click)="changePriceProduct(row)" class="cursor-click tooltip">{{row.price}}<span class="tooltiptext">Ganti Harga</span></div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  
      <div class="ion-padding ion-text-center">					
        <ion-button size="large" class="btn block"
        [disabled]="!formPriceGroupCreate.valid" (click)="input()">Input</ion-button>
      </div>
    </div>

    <table id="excel-table" style="display: none;">
        <thead>
          <tr class="background-table">
            <th style="padding: 6px 0 6px 0;">No</th>
            <th>PCode</th>
            <th>Nama</th>
            <th>Harga</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of priceGroupDetailData; let i = index;">
            <td class="date-and-receipt">{{ i+1 }}</td>
            <td class="normal-text">`{{ detail.id }}</td>
            <td class="normal-text">{{ detail.product_name }}</td>
            <td class="normal-text">{{ detail.price }}</td>
          </tr>
        </tbody>
      </table>
  </form>
</ion-content>
