.custom-alert-class {
    --backdrop-opacity: 0.2;
    --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

.status {
    text-align: center;
    border-radius: 10px;

    &.closed {
        background-color: green;
        color: white;
    }

    &.void {
        background-color: red;
        color: white;
    }

    &.pending {
        background-color: yellow;
        color: black;
    }
     
}