<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="receipt-voucher"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Receipt Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formReceiptVoucherEdit">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
					<ion-label position="stacked">No. Dokumen</ion-label>
					<ion-input readonly type="text" placeholder="" formControlName="receiptVoucherId"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime [readonly]="statusReceipt === '0' ? 'false' : 'true'" displayFormat="DD MMM, YYYY" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Cash Bank</ion-label>
          <ion-select [disabled]="statusReceipt === '0' ? 'false' : 'true'" placeholder="Pilih Cash Bank" formControlName="cashBankId" interface="action-sheet">
            <ion-select-option *ngFor="let bank of cashBankList" [value]="bank.id">
            {{ bank.cash_bank_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Receipt From</ion-label>
					<ion-input [readonly]="statusReceipt === '0' ? 'false' : 'true'" type="text" placeholder="Receipt From" formControlName="receiptFrom"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Currency</ion-label>
          <ion-select [disabled]="statusReceipt === '0' ? 'false' : 'true'" (ionChange)="getExchangeRate($event)" placeholder="Pilih Currency" formControlName="currency" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencyList" [value]="currency.id">
            {{ currency.foreign_currency_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Exchange Rate</ion-label>
					<ion-input readonly type="text" placeholder="Exchange Rate" formControlName="exchangeRate"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Amount</ion-label>
					<ion-input [readonly]="statusReceipt === '0' ? 'false' : 'true'" type="number" placeholder="0" formControlName="amount"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Receipt Proof No</ion-label>
					<ion-input [readonly]="statusReceipt === '0' ? 'false' : 'true'" type="text" placeholder="Receipt Proof No" formControlName="receiptProofNo"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Status</ion-label>
					<ion-input readonly type="text" placeholder="Status" formControlName="status"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center" *ngIf="statusReceipt !== '0'">					
          <ion-button size="large" color="success" class="btn block">List Product</ion-button>
				</div>

        <div *ngIf="statusReceipt !== '0'" formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Coa</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="coaId"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Coa Name</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="coa"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Counter</ion-label>
              <ion-input readonly type="text" placeholder="" formControlName="counter"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Amount</ion-label>
              <ion-input readonly type="number" placeholder="0" formControlName="amount"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Description</ion-label>
              <ion-input readonly type="text" placeholder="Description" formControlName="desc"></ion-input>
            </ion-item>
          </ion-item>
        </div>

        <div *ngIf="statusReceipt === '0'" class="ion-padding ion-text-center">					
          <ion-button size="large" color="success" class="btn block" (click)="addDetail()">Tambah Detail Baru</ion-button>
				</div>

        <div *ngIf="statusReceipt === '0'" formArrayName="detail">
          <ion-item lines="none" *ngFor="let detail of getDetailArray.controls; let i=index" 
          [formGroupName]="i">
            <ion-item lines="none">
              <ion-label position="stacked">Coa</ion-label>
              <ionic-selectable
                formControlName="coa"
                [items]="coaSearch"
                itemValueField="id"
                itemTextField="name"
                [canSearch]="true"
                (onSearch)="searchCoa($event)">
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Counter</ion-label>
              <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
                <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
                {{ counter.counter_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Amount</ion-label>
              <ion-input type="number" placeholder="0" formControlName="amount"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Description</ion-label>
              <ion-input type="text" placeholder="Description" formControlName="desc"></ion-input>
            </ion-item>

            <ion-icon 
              color="danger" 
              name="trash" 
              (click)="deleteDetail(i)">
            </ion-icon>
          </ion-item>
        </div>

        <div class="ion-padding ion-text-center" *ngIf="statusReceipt === '0'">
          <ion-button size="small" color="secondary"
            [disabled]="!formReceiptVoucherEdit.valid" (click)="saveUpdate('data', '0')">
            <ion-icon name="save"></ion-icon>Save
          </ion-button>
          <ion-button size="small" color="warning" (click)="saveUpdate('status', '1')">
            <ion-icon name="lock-closed"></ion-icon>Closed
          </ion-button>
				</div>

        <div class="approval-history">
          <p *ngIf="createdBy !== null"><ion-icon name="remove"></ion-icon><b>Add User</b> : {{ createdBy }} | {{ createdAt }}</p>
          <p *ngIf="createdBy === null"><ion-icon name="remove"></ion-icon><b>Add User</b> : -</p>
          <p *ngIf="updatedBy !== null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : {{ updatedBy }} | {{ updatedAt }}</p>
          <p *ngIf="updatedBy === null"><ion-icon name="remove"></ion-icon><b>Edit User</b> : -</p>
        </div>
        <br>
        <div class="approval-history" *ngIf="approvalHistoryData.length > 0">
          <div *ngFor="let approve of approvalHistoryData">
            <p><ion-icon name="remove"></ion-icon><b>Receipt Voucher Closed</b> : {{ approve.name }} | {{ approve.trans_date }}</p>
          </div>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>