<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-grid>
    <ion-col> 
      <ion-button size="small" color="warning">FILTER</ion-button>
    </ion-col>
  </ion-grid> -->
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            Chart Sale Oemah Herborist
          </ion-col>
          <ion-col size="2">
              <!-- <ion-label position="stacked">Tahun</ion-label> -->
              <ion-select placeholder="Tahun" interface="action-sheet">
                <ion-select-option>2022</ion-select-option>
                <ion-select-option>2021</ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size="2">
              <!-- <ion-label position="stacked">Tahun</ion-label> -->
              <ion-select placeholder="Line" interface="action-sheet">
                <ion-select-option>1 Line</ion-select-option>
                <ion-select-option>2 Line</ion-select-option>
              </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            Summary Per Counter
          </ion-col>
          <ion-col size="2">
              <ion-select placeholder="Bulan" interface="action-sheet">
                <ion-select-option>Januari</ion-select-option>
                <ion-select-option>Februari</ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size="2">
              <!-- <ion-label position="stacked">Tahun</ion-label> -->
              <ion-select placeholder="Tahun" interface="action-sheet">
                <ion-select-option>2022</ion-select-option>
                <ion-select-option>2021</ion-select-option>
              </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-header>
  
    <ion-card-content>
      <table style="width: 100%;">
        <tr class="background-table">
          <td style="padding: 6px 15px 6px 15px;">Counter</td>               
          <td style="padding: 0 30px 0 30px;">Tanggal Terakhir</td>
          <td style="padding: 0 30px 0 30px;">Omset</td>
        </tr>
        <tbody>
          <tr *ngFor="let counter of listCounter">
            <td class="normal-text">{{ counter.counter_name }}</td>
            <td class="normal-text">{{ counter.last_date }}</td>
            <td class="nominal" align="right">Rp {{ counter.total | number: '1.0-2' }}</td>
          </tr>
          <tr>
            <td></td>
            <td><b>TOTAL</b></td>
            <td class="normal" align="right"><b>Rp {{ totalData | number: '1.0-2' }}</b></td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer no-border>
	<h6 style="padding-left: 20px;">Copyright All Reserved © 2021 By PT Victoria Care Indonesia Tbk.</h6>	
</ion-footer>