table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 5px;
}

.parameter-name {
    background-color: #ffff00;
    padding: 10px 0 10px 7px;
  }

  .parameter-value {
    border: 1px solid #ccc;
    padding: 10px 0 10px 7px;
  }

  .background-table {
    background-color: #FDB915;
  }