<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Penerimaan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" (click)="openAdvancedFilters()">Advanced Filter</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <input type="text" placeholder="Search..." (keyup)='filterDatatable($event)'>
        </ion-col>
      </ion-row>
    </ion-list>
    
    <ngx-datatable
      class='material'
      [rows]="rows"
      [columnMode]="'standard'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [sortType]="'single'"
      (page)="pageCallback($event)"
      (sort)="sortCallback($event)">
      <ngx-datatable-column name="No Penerimaan Barang" prop="id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Counter" prop="counter_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.counter_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama Gudang" prop="warehouse_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.warehouse_name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="No Permintaan Barang" prop="product_request_id">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.product_request_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tgl Dokumen" prop="doc_date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.doc_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created At" prop="created_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated At" prop="updated_at">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.status === '0'" class="status open">Open</div>
          <div *ngIf="row.status === '1'" class="status closed">Closed</div>
          <div *ngIf="row.status === '2'" class="status void">Void</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ion-button shape="round" size="small" color="warning" (click)="goToDetailPage(row.id, 'detail')">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <!-- <ion-button *ngIf="row.status === '0'" shape="round" size="small" color="primary" (click)="goToDetailPage(row.id, 'edit')">
            <ion-icon name="create"></ion-icon>
          </ion-button> -->
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button *ngIf="roleAccess.create === '1'" (click)="goToProductReceivingCreate()">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
  </ion-fab>
</ion-content>
