<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="menu"></ion-back-button>
	</ion-buttons>
    <ion-title>Edit Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formMenuEdit">
    <div class="form">
			<ion-list lines="none">
				<ion-item lines="none">
					<ion-label position="stacked">Nama Menu</ion-label>
					<ion-input type="text" placeholder="Nama Menu" formControlName="menuName"></ion-input>
        </ion-item>
        
				<ion-item lines="none">
					<ion-label position="stacked">Parent Menu</ion-label>
					<ion-select placeholder="Pilih Parent Menu" formControlName="parentId" interface="action-sheet">
						<ion-select-option *ngFor="let parent of parentMenuData" [value]="parent.id">
						{{ parent.menu_name }}
						</ion-select-option>
					</ion-select>
				</ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Root Menu</ion-label>
					<ion-input type="text" placeholder="Nama Root Menu" formControlName="root"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nomor Urut Menu (Weight)</ion-label>
					<ion-input type="number" placeholder="1" formControlName="weight"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama Icon Ionic</ion-label>
					<ion-input type="text" placeholder="Nama Icon Ionic" formControlName="icon"></ion-input>
        </ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">Status</ion-label>
			<ion-select placeholder="Pilih Status" formControlName="activeStatus" interface="action-sheet">
				<ion-select-option *ngFor="let status of statusMenu; let i = index" [value]="i">
				{{ status }}
				</ion-select-option>
			</ion-select>
		</ion-item>

				<div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formMenuEdit.valid" (click)="updateData()">Update</ion-button>
				</div>
			</ion-list>
		</div>
  </form>
</ion-content>
