.status {
    text-align: center;
    border-radius: 10px;

    &.ok {
        background-color: green;
        color: white;
    }

    &.void {
        background-color: red;
        color: white;
    }

    &.pending {
        background-color: yellow;
        color: black;
    }
     
}