<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="promotion-type"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Tipe Promosi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPromotionTypeCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
					<ion-label position="stacked">Nama Tipe Promosi</ion-label>
					<ion-input type="text" placeholder="Nama Tipe Promosi" formControlName="promotionTypeName"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formPromotionTypeCreate.valid" (click)="inputPromotionType()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
