<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register-reseller"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Reseller Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRegisterResellerCreate">
    <div class="form">
      <ion-list lines="none">

        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterList" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nama</ion-label>
					<ion-input type="text" placeholder="Nama" formControlName="customerName"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nomor KTP</ion-label>
					<ion-input type="text" placeholder="Nomor KTP" formControlName="identityNumber"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Nomor Handphone</ion-label>
					<ion-input type="text" placeholder="Nomor Handphone" formControlName="phone"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Tempat Lahir</ion-label>
					<ion-input type="text" placeholder="" formControlName="birthPlace"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal Lahir</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="birthDate" placeholder="Pilih Tanggal Lahir"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Kelamin</ion-label>
          <ion-select placeholder="Pilih Jenis Kelamin" formControlName="gender">
            <ion-select-option value="Laki-laki">Laki-laki</ion-select-option>
            <ion-select-option value="Perempuan">Perempuan</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Pekerjaan</ion-label>
					<ion-input type="text" placeholder="" formControlName="profession"></ion-input>
        </ion-item>
        
        <ion-item lines="none">
					<ion-label position="stacked">Kode Area</ion-label>
					<ion-input type="text" placeholder="" formControlName="areaCode"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Area</ion-label>
					<ion-input type="text" placeholder="" formControlName="area"></ion-input>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Alamat</ion-label>
          <ion-textarea formControlName="address"></ion-textarea>
        </ion-item>
        
        <ion-item lines="none">
					<ion-label position="stacked">Tanggal Daftar</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" formControlName="joinDate" placeholder="Tanggal Daftar Jadi Reseller"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Karyawan Vci</ion-label>
          <ion-select placeholder="Pilih" formControlName="internalEmployee">
            <ion-select-option value="0">Tidak</ion-select-option>
            <ion-select-option value="1">Ya</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Kode Referral Upline</ion-label>
					<ion-input type="text" placeholder="Kode Referral" formControlName="referralCodeUpline"></ion-input>
        </ion-item>
        

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formRegisterResellerCreate.valid" (click)="inputRegisterReseller()">Input</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
</ion-content>
