<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stock-opname"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Stock Opname</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formStockOpnameCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseData" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Metode Input</ion-label>
          <ion-select (ionChange)="checkInputMethod()" placeholder="Pilih Metode Input" formControlName="inputMethod" interface="action-sheet">
            <ion-select-option value="0">Manual / Upload Excel</ion-select-option>
            <ion-select-option value="1">Scan Barcode</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formStockOpnameCreate.valid" (click)="getStockOpnameDetail()">Get Product</ion-button>
				</div>
      </ion-list>
    </div>
  </form>
  <div class="ion-padding" *ngIf="stockOpnameDetailData.length > 0">
    <ion-grid>
      <ion-row *ngIf="inputMethod === '0'">
        <ion-col>
          <input style="width: 100%; height:40px; border: 1px solid #ccc; border-radius: 16px;
          outline: none; padding: 7px;" type="file" (change)="onFileSelect($event)" #uploadFileInput>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" (click)="uploadFile()">Upload</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="inputMethod === '0'">
        <ion-col>
          <ion-button size="small" color="success"
            (click)="exportToExcel()">Export to Excel</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="inputMethod === '1'">
        <ion-col>
          <input id="inputBarcode" style="width: 100%;height:40px;border: 1px solid #ccc; border-radius: 16px; outline: none; padding: 10px;" autocomplete="off"
            placeholder="Scan Barcode Here" [(ngModel)]="productBarcode" (keyup.enter)="getProduct(productBarcode)">
        </ion-col>
      </ion-row>
    </ion-grid>
    <table *ngIf="inputMethod === '1'">
      <thead>
        <tr class="background-table">
          <!-- <th style="padding: 6px 0 6px 0;">No</th> -->
          <th style="padding: 6px 0 6px 0;">PCode</th>
          <th style="padding: 0 150px 0 150px;">Nama Barang</th>
          <th>Qty Program</th>
          <th>Satuan</th>
          <th>Qty Fisik</th>
          <th>Selisih</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of stockOpnameScanList; let i = index;">
          <!-- <td class="date-and-receipt">{{ i+1 }}</td> -->
          <td class="normal-text">{{ detail.id }}</td>
          <td class="normal-text">{{ detail.product_name }}</td>
          <td class="nominal">{{ detail.qty_program }}</td>
          <td class="normal-text">{{ detail.unit }}</td>
          <td class="normal-text">
            <ion-input type="number" [id]="'qtyPhysic_'+detail.id" value="0" 
            (dblclick)="sameQty(detail.id, detail.qty_program)"
            (change)="changeQty(detail.id, detail.qty_program, $event.target.value)"></ion-input>
          </td>
          <td class="nominal" [id]="'qtyDiff_'+detail.id">0</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="stockOpnameDetailData.length > 0 && inputMethod === '0'">
      <thead>
        <tr class="background-table">
          <th style="padding: 6px 0 6px 0;">No</th>
          <th>PCode</th>
          <th style="padding: 0 150px 0 150px;">Nama Barang</th>
          <th>Qty Program</th>
          <th>Satuan</th>
          <th>Qty Fisik</th>
          <th>Selisih</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of stockOpnameDetailData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="normal-text">{{ detail.id }}</td>
          <td class="normal-text">{{ detail.product_name }}</td>
          <td class="nominal">{{ detail.qty_program }}</td>
          <td class="normal-text">{{ detail.unit }}</td>
          <td class="normal-text">
            <ion-input type="number" [id]="'qtyPhysic_'+detail.id" value="0" 
            (dblclick)="sameQty(detail.id, detail.qty_program)"
            (change)="changeQty(detail.id, detail.qty_program, $event.target.value)"></ion-input>
          </td>
          <td class="nominal" [id]="'qtyDiff_'+detail.id">0</td>
        </tr>
      </tbody>
    </table>

    <table id="excel-table" style="display: none;">
      <thead>
        <tr class="background-table">
          <th style="padding: 6px 0 6px 0;">No</th>
          <th>Stock_Opname_ID</th>
          <th>PCode</th>
          <th style="padding: 0 150px 0 150px;">Nama_Barang</th>
          <th>Qty_Program</th>
          <th>Qty_Fisik</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of stockOpnameDetailData; let i = index;">
          <td class="date-and-receipt">{{ i+1 }}</td>
          <td class="normal-text">{{ stockOpnameId }}</td>
          <td class="normal-text">`{{ detail.id }}</td>
          <td class="normal-text">{{ detail.product_name }}</td>
          <td class="nominal">{{ detail.qty_program }}</td>
          <td class="normal-text">
            0
          </td>
        </tr>
      </tbody>
    </table>

    <div class="ion-padding ion-text-center">					
      <ion-button size="large" class="btn block"
      [disabled]="!formStockOpnameCreate.valid" (click)="input()">Input</ion-button>
    </div>
  </div>
</ion-content>
