<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="other-receiving"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Penerimaan Lain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formOtherReceivingCreate">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-label position="stacked">Counter</ion-label>
          <ion-select placeholder="Pilih Counter" formControlName="counterId" interface="action-sheet">
            <ion-select-option *ngFor="let counter of counterData" [value]="counter.id">
            {{ counter.counter_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Gudang</ion-label>
          <ion-select placeholder="Pilih Gudang" formControlName="warehouseId" interface="action-sheet">
            <ion-select-option *ngFor="let warehouse of warehouseData" [value]="warehouse.id">
            {{ warehouse.warehouse_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Purpose</ion-label>
          <ion-select placeholder="Pilih Purpose" formControlName="purposeId" interface="action-sheet">
            <ion-select-option *ngFor="let purpose of purposeData" [value]="purpose.id">
            {{ purpose.purpose_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Tanggal</ion-label>
          <ion-datetime displayFormat="DD MMM, YYYY" max="2050-12-31" formControlName="docDate" placeholder="Pilih Tanggal Dokumen"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
					<ion-label position="stacked">Deskripsi</ion-label>
					<ion-input type="text" placeholder="Deskripsi" formControlName="description"></ion-input>
        </ion-item>

        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block" (click)="addDetail()">Tambah Product Baru</ion-button>
				</div>

        <table class="ion-padding">
          <thead>
            <tr class="background-table">
              <th style="padding: 6px 0 6px 0;">No</th>
              <th>Action</th>
              <th>PCode</th>
              <th style="padding: 0 150px 0 150px;">Nama Barang</th>
              <th>Satuan</th>
              <th>Qty</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of otherReceivingDetailList; let i = index;">
              <td class="date-and-receipt">{{ i+1 }}</td>
              <td class="date-and-receipt">
                <ion-button shape="round" size="small" color="success" (click)="findProduct(i)">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button shape="round" size="small" color="danger" (click)="deleteProduct(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </td>
              <td class="normal-text">{{ detail.product_id }}</td>
              <td class="normal-text">{{ detail.product_name }}</td>
              <td class="normal-text">Pcs</td>
              <td class="normal-text">
                <ion-input type="number" [id]="'qtyReceive_'+i" value="0"></ion-input>
              </td>
              <td class="normal-text">
                <ion-input type="text" [id]="'description_'+i" placeholder="Deskripsi"></ion-input>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="ion-padding ion-text-center">					
          <ion-button size="large" class="btn block"
          [disabled]="!formOtherReceivingCreate.valid" (click)="inputBundle()">Input</ion-button>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>
